/*
 * Essbase REST API
 * The REST API for Oracle Essbase enables you to automate management of Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: V1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.CalcAssistGeneratorDTO;
import com.appliedolap.essbase.client.model.MdxGeneratorDTO;
import com.appliedolap.essbase.client.model.NNearestNeighbourDTO;
import com.appliedolap.essbase.client.model.OCIChatCredentialSigningKeyDTO;
import com.appliedolap.essbase.client.model.OCIVectorCredentialDTO;
import com.appliedolap.essbase.client.model.PassThroughDTO;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class AiApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public AiApi() {
    this(new ApiClient());
  }

  public AiApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Associate AI connection
   * &lt;p&gt;Associate AI connection for the specified application.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param connectionName &lt;p&gt;Connection name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIAssociateConnection(String applicationName, String connectionName) throws ApiException {
    aIAssociateConnectionWithHttpInfo(applicationName, connectionName);
  }

  /**
   * Associate AI connection
   * &lt;p&gt;Associate AI connection for the specified application.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param connectionName &lt;p&gt;Connection name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIAssociateConnectionWithHttpInfo(String applicationName, String connectionName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIAssociateConnectionRequestBuilder(applicationName, connectionName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIAssociateConnection", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIAssociateConnectionRequestBuilder(String applicationName, String connectionName) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIAssociateConnection");
    }
    // verify the required parameter 'connectionName' is set
    if (connectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'connectionName' when calling aIAssociateConnection");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/connection/{connectionName}"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{connectionName}", ApiClient.urlEncode(connectionName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Create OCI chat credential using singing key
   * &lt;p&gt;Create OCI chat credential against the specified DB connection using singing key.&lt;/p&gt;
   * @param dbConnectionName &lt;p&gt;DB connection name.&lt;/p&gt; (required)
   * @param credentialName &lt;p&gt;Credential name.&lt;/p&gt; (required)
   * @param ocIChatCredentialSigningKeyDTO &lt;p&gt;OCI credential details: singing key.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aICreateOCIChatCredentialUsingSingingKey(String dbConnectionName, String credentialName, OCIChatCredentialSigningKeyDTO ocIChatCredentialSigningKeyDTO) throws ApiException {
    aICreateOCIChatCredentialUsingSingingKeyWithHttpInfo(dbConnectionName, credentialName, ocIChatCredentialSigningKeyDTO);
  }

  /**
   * Create OCI chat credential using singing key
   * &lt;p&gt;Create OCI chat credential against the specified DB connection using singing key.&lt;/p&gt;
   * @param dbConnectionName &lt;p&gt;DB connection name.&lt;/p&gt; (required)
   * @param credentialName &lt;p&gt;Credential name.&lt;/p&gt; (required)
   * @param ocIChatCredentialSigningKeyDTO &lt;p&gt;OCI credential details: singing key.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aICreateOCIChatCredentialUsingSingingKeyWithHttpInfo(String dbConnectionName, String credentialName, OCIChatCredentialSigningKeyDTO ocIChatCredentialSigningKeyDTO) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aICreateOCIChatCredentialUsingSingingKeyRequestBuilder(dbConnectionName, credentialName, ocIChatCredentialSigningKeyDTO);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aICreateOCIChatCredentialUsingSingingKey", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aICreateOCIChatCredentialUsingSingingKeyRequestBuilder(String dbConnectionName, String credentialName, OCIChatCredentialSigningKeyDTO ocIChatCredentialSigningKeyDTO) throws ApiException {
    // verify the required parameter 'dbConnectionName' is set
    if (dbConnectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'dbConnectionName' when calling aICreateOCIChatCredentialUsingSingingKey");
    }
    // verify the required parameter 'credentialName' is set
    if (credentialName == null) {
      throw new ApiException(400, "Missing the required parameter 'credentialName' when calling aICreateOCIChatCredentialUsingSingingKey");
    }
    // verify the required parameter 'ocIChatCredentialSigningKeyDTO' is set
    if (ocIChatCredentialSigningKeyDTO == null) {
      throw new ApiException(400, "Missing the required parameter 'ocIChatCredentialSigningKeyDTO' when calling aICreateOCIChatCredentialUsingSingingKey");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/dbconnection/{dbConnectionName}/chat/credential/signingkey/{credentialName}"
        .replace("{dbConnectionName}", ApiClient.urlEncode(dbConnectionName.toString()))
        .replace("{credentialName}", ApiClient.urlEncode(credentialName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(ocIChatCredentialSigningKeyDTO);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Create OCI chat profile
   * &lt;p&gt;Create OCI chat profile for the specified application.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI Connection Name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;OCI chat profile name.&lt;/p&gt; (required)
   * @param description &lt;p&gt;Description.&lt;/p&gt; (optional)
   * @throws ApiException if fails to make API call
   */
  public void aICreateOCIChatProfile(String aiConnectionName, String profileName, String description) throws ApiException {
    aICreateOCIChatProfileWithHttpInfo(aiConnectionName, profileName, description);
  }

  /**
   * Create OCI chat profile
   * &lt;p&gt;Create OCI chat profile for the specified application.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI Connection Name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;OCI chat profile name.&lt;/p&gt; (required)
   * @param description &lt;p&gt;Description.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aICreateOCIChatProfileWithHttpInfo(String aiConnectionName, String profileName, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aICreateOCIChatProfileRequestBuilder(aiConnectionName, profileName, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aICreateOCIChatProfile", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aICreateOCIChatProfileRequestBuilder(String aiConnectionName, String profileName, String description) throws ApiException {
    // verify the required parameter 'aiConnectionName' is set
    if (aiConnectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'aiConnectionName' when calling aICreateOCIChatProfile");
    }
    // verify the required parameter 'profileName' is set
    if (profileName == null) {
      throw new ApiException(400, "Missing the required parameter 'profileName' when calling aICreateOCIChatProfile");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/aiconnection/{aiConnectionName}/chat/profile/{profileName}"
        .replace("{aiConnectionName}", ApiClient.urlEncode(aiConnectionName.toString()))
        .replace("{profileName}", ApiClient.urlEncode(profileName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "description";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Create OCI vector credential
   * &lt;p&gt;Create OCI vector credential.&lt;/p&gt;
   * @param dbConnectionName &lt;p&gt;DB Connection name.&lt;/p&gt; (required)
   * @param credentialName &lt;p&gt;Credential name.&lt;/p&gt; (required)
   * @param ocIVectorCredentialDTO &lt;p&gt;OCI vector credential details.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aICreateOCIVectorCredential(String dbConnectionName, String credentialName, OCIVectorCredentialDTO ocIVectorCredentialDTO) throws ApiException {
    aICreateOCIVectorCredentialWithHttpInfo(dbConnectionName, credentialName, ocIVectorCredentialDTO);
  }

  /**
   * Create OCI vector credential
   * &lt;p&gt;Create OCI vector credential.&lt;/p&gt;
   * @param dbConnectionName &lt;p&gt;DB Connection name.&lt;/p&gt; (required)
   * @param credentialName &lt;p&gt;Credential name.&lt;/p&gt; (required)
   * @param ocIVectorCredentialDTO &lt;p&gt;OCI vector credential details.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aICreateOCIVectorCredentialWithHttpInfo(String dbConnectionName, String credentialName, OCIVectorCredentialDTO ocIVectorCredentialDTO) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aICreateOCIVectorCredentialRequestBuilder(dbConnectionName, credentialName, ocIVectorCredentialDTO);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aICreateOCIVectorCredential", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aICreateOCIVectorCredentialRequestBuilder(String dbConnectionName, String credentialName, OCIVectorCredentialDTO ocIVectorCredentialDTO) throws ApiException {
    // verify the required parameter 'dbConnectionName' is set
    if (dbConnectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'dbConnectionName' when calling aICreateOCIVectorCredential");
    }
    // verify the required parameter 'credentialName' is set
    if (credentialName == null) {
      throw new ApiException(400, "Missing the required parameter 'credentialName' when calling aICreateOCIVectorCredential");
    }
    // verify the required parameter 'ocIVectorCredentialDTO' is set
    if (ocIVectorCredentialDTO == null) {
      throw new ApiException(400, "Missing the required parameter 'ocIVectorCredentialDTO' when calling aICreateOCIVectorCredential");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/dbconnection/{dbConnectionName}/vector/credential/{credentialName}"
        .replace("{dbConnectionName}", ApiClient.urlEncode(dbConnectionName.toString()))
        .replace("{credentialName}", ApiClient.urlEncode(credentialName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(ocIVectorCredentialDTO);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Create a job to build vector index
   * &lt;p&gt;Create a job to build vector index.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI connection name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aICreateVectorIndexJob(String aiConnectionName) throws ApiException {
    aICreateVectorIndexJobWithHttpInfo(aiConnectionName);
  }

  /**
   * Create a job to build vector index
   * &lt;p&gt;Create a job to build vector index.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI connection name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aICreateVectorIndexJobWithHttpInfo(String aiConnectionName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aICreateVectorIndexJobRequestBuilder(aiConnectionName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aICreateVectorIndexJob", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aICreateVectorIndexJobRequestBuilder(String aiConnectionName) throws ApiException {
    // verify the required parameter 'aiConnectionName' is set
    if (aiConnectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'aiConnectionName' when calling aICreateVectorIndexJob");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/aiconnection/{aiConnectionName}/job/vectorindex"
        .replace("{aiConnectionName}", ApiClient.urlEncode(aiConnectionName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Drop a conversation.
   * &lt;p&gt;Drop a conversation.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param conversationId &lt;p&gt;Conversation ID.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIDeleteCalculationConversations(String applicationName, String databaseName, String conversationId) throws ApiException {
    aIDeleteCalculationConversationsWithHttpInfo(applicationName, databaseName, conversationId);
  }

  /**
   * Drop a conversation.
   * &lt;p&gt;Drop a conversation.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param conversationId &lt;p&gt;Conversation ID.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIDeleteCalculationConversationsWithHttpInfo(String applicationName, String databaseName, String conversationId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIDeleteCalculationConversationsRequestBuilder(applicationName, databaseName, conversationId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIDeleteCalculationConversations", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIDeleteCalculationConversationsRequestBuilder(String applicationName, String databaseName, String conversationId) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIDeleteCalculationConversations");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aIDeleteCalculationConversations");
    }
    // verify the required parameter 'conversationId' is set
    if (conversationId == null) {
      throw new ApiException(400, "Missing the required parameter 'conversationId' when calling aIDeleteCalculationConversations");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/calculation/conversation/{conversationId}"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()))
        .replace("{conversationId}", ApiClient.urlEncode(conversationId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete conversation history
   * &lt;p&gt;Delete conversation history for the specified outline and conversation Id.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;profile name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIDeleteConversationHistory(String applicationName, String databaseName, String profileName) throws ApiException {
    aIDeleteConversationHistoryWithHttpInfo(applicationName, databaseName, profileName);
  }

  /**
   * Delete conversation history
   * &lt;p&gt;Delete conversation history for the specified outline and conversation Id.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;profile name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIDeleteConversationHistoryWithHttpInfo(String applicationName, String databaseName, String profileName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIDeleteConversationHistoryRequestBuilder(applicationName, databaseName, profileName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIDeleteConversationHistory", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIDeleteConversationHistoryRequestBuilder(String applicationName, String databaseName, String profileName) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIDeleteConversationHistory");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aIDeleteConversationHistory");
    }
    // verify the required parameter 'profileName' is set
    if (profileName == null) {
      throw new ApiException(400, "Missing the required parameter 'profileName' when calling aIDeleteConversationHistory");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/conversationHistory"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "profileName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("profileName", profileName));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Dissociate AI connection
   * &lt;p&gt;Dissociate AI connection for the specified application.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIDissociateConnection(String applicationName) throws ApiException {
    aIDissociateConnectionWithHttpInfo(applicationName);
  }

  /**
   * Dissociate AI connection
   * &lt;p&gt;Dissociate AI connection for the specified application.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIDissociateConnectionWithHttpInfo(String applicationName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIDissociateConnectionRequestBuilder(applicationName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIDissociateConnection", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIDissociateConnectionRequestBuilder(String applicationName) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIDissociateConnection");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/connection"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Drop OCI chat credential
   * &lt;p&gt;Drop OCI chat credential for the specified application.&lt;/p&gt;
   * @param dbConnectionName &lt;p&gt;DB Connection Name.&lt;/p&gt; (required)
   * @param credentialName &lt;p&gt;Credential Name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIDropOCIChatCredential(String dbConnectionName, String credentialName) throws ApiException {
    aIDropOCIChatCredentialWithHttpInfo(dbConnectionName, credentialName);
  }

  /**
   * Drop OCI chat credential
   * &lt;p&gt;Drop OCI chat credential for the specified application.&lt;/p&gt;
   * @param dbConnectionName &lt;p&gt;DB Connection Name.&lt;/p&gt; (required)
   * @param credentialName &lt;p&gt;Credential Name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIDropOCIChatCredentialWithHttpInfo(String dbConnectionName, String credentialName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIDropOCIChatCredentialRequestBuilder(dbConnectionName, credentialName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIDropOCIChatCredential", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIDropOCIChatCredentialRequestBuilder(String dbConnectionName, String credentialName) throws ApiException {
    // verify the required parameter 'dbConnectionName' is set
    if (dbConnectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'dbConnectionName' when calling aIDropOCIChatCredential");
    }
    // verify the required parameter 'credentialName' is set
    if (credentialName == null) {
      throw new ApiException(400, "Missing the required parameter 'credentialName' when calling aIDropOCIChatCredential");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/dbconnection/{dbConnectionName}/chat/credential/{credentialName}"
        .replace("{dbConnectionName}", ApiClient.urlEncode(dbConnectionName.toString()))
        .replace("{credentialName}", ApiClient.urlEncode(credentialName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Drop OCI chat profile
   * &lt;p&gt;Drop OCI chat profile.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI Connection Name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;OCI chat profile name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIDropOCIChatProfile(String aiConnectionName, String profileName) throws ApiException {
    aIDropOCIChatProfileWithHttpInfo(aiConnectionName, profileName);
  }

  /**
   * Drop OCI chat profile
   * &lt;p&gt;Drop OCI chat profile.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI Connection Name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;OCI chat profile name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIDropOCIChatProfileWithHttpInfo(String aiConnectionName, String profileName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIDropOCIChatProfileRequestBuilder(aiConnectionName, profileName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIDropOCIChatProfile", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIDropOCIChatProfileRequestBuilder(String aiConnectionName, String profileName) throws ApiException {
    // verify the required parameter 'aiConnectionName' is set
    if (aiConnectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'aiConnectionName' when calling aIDropOCIChatProfile");
    }
    // verify the required parameter 'profileName' is set
    if (profileName == null) {
      throw new ApiException(400, "Missing the required parameter 'profileName' when calling aIDropOCIChatProfile");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/aiconnection/{aiConnectionName}/chat/profile/{profileName}"
        .replace("{aiConnectionName}", ApiClient.urlEncode(aiConnectionName.toString()))
        .replace("{profileName}", ApiClient.urlEncode(profileName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Drop OCI vector credential
   * &lt;p&gt;Drop OCI vector credential for the specified application.&lt;/p&gt;
   * @param dbConnectionName &lt;p&gt;DB Connection Name.&lt;/p&gt; (required)
   * @param credentialName &lt;p&gt;Credential Name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIDropOCIVectorCredential(String dbConnectionName, String credentialName) throws ApiException {
    aIDropOCIVectorCredentialWithHttpInfo(dbConnectionName, credentialName);
  }

  /**
   * Drop OCI vector credential
   * &lt;p&gt;Drop OCI vector credential for the specified application.&lt;/p&gt;
   * @param dbConnectionName &lt;p&gt;DB Connection Name.&lt;/p&gt; (required)
   * @param credentialName &lt;p&gt;Credential Name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIDropOCIVectorCredentialWithHttpInfo(String dbConnectionName, String credentialName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIDropOCIVectorCredentialRequestBuilder(dbConnectionName, credentialName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIDropOCIVectorCredential", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIDropOCIVectorCredentialRequestBuilder(String dbConnectionName, String credentialName) throws ApiException {
    // verify the required parameter 'dbConnectionName' is set
    if (dbConnectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'dbConnectionName' when calling aIDropOCIVectorCredential");
    }
    // verify the required parameter 'credentialName' is set
    if (credentialName == null) {
      throw new ApiException(400, "Missing the required parameter 'credentialName' when calling aIDropOCIVectorCredential");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/dbconnection/{dbConnectionName}/vector/credential/{credentialName}"
        .replace("{dbConnectionName}", ApiClient.urlEncode(dbConnectionName.toString()))
        .replace("{credentialName}", ApiClient.urlEncode(credentialName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Create a job to drop the vector index
   * &lt;p&gt;Create a job to drop the vector index.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI connection name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIDropVectorIndexJob(String aiConnectionName) throws ApiException {
    aIDropVectorIndexJobWithHttpInfo(aiConnectionName);
  }

  /**
   * Create a job to drop the vector index
   * &lt;p&gt;Create a job to drop the vector index.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI connection name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIDropVectorIndexJobWithHttpInfo(String aiConnectionName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIDropVectorIndexJobRequestBuilder(aiConnectionName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIDropVectorIndexJob", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIDropVectorIndexJobRequestBuilder(String aiConnectionName) throws ApiException {
    // verify the required parameter 'aiConnectionName' is set
    if (aiConnectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'aiConnectionName' when calling aIDropVectorIndexJob");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/aiconnection/{aiConnectionName}/job/vectorindex"
        .replace("{aiConnectionName}", ApiClient.urlEncode(aiConnectionName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Generate calculation script.
   * &lt;p&gt;Generate calculation script.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param calcAssistGeneratorDTO &lt;p&gt;Body details for generating calculation script.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIGenerateCalculationScript(String applicationName, String databaseName, CalcAssistGeneratorDTO calcAssistGeneratorDTO) throws ApiException {
    aIGenerateCalculationScriptWithHttpInfo(applicationName, databaseName, calcAssistGeneratorDTO);
  }

  /**
   * Generate calculation script.
   * &lt;p&gt;Generate calculation script.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param calcAssistGeneratorDTO &lt;p&gt;Body details for generating calculation script.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIGenerateCalculationScriptWithHttpInfo(String applicationName, String databaseName, CalcAssistGeneratorDTO calcAssistGeneratorDTO) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIGenerateCalculationScriptRequestBuilder(applicationName, databaseName, calcAssistGeneratorDTO);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIGenerateCalculationScript", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIGenerateCalculationScriptRequestBuilder(String applicationName, String databaseName, CalcAssistGeneratorDTO calcAssistGeneratorDTO) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIGenerateCalculationScript");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aIGenerateCalculationScript");
    }
    // verify the required parameter 'calcAssistGeneratorDTO' is set
    if (calcAssistGeneratorDTO == null) {
      throw new ApiException(400, "Missing the required parameter 'calcAssistGeneratorDTO' when calling aIGenerateCalculationScript");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/calculation/generate"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(calcAssistGeneratorDTO);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get all calculation specific conversations.
   * &lt;p&gt;Get all calculation specific conversations.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param conversationId &lt;p&gt;Conversation ID.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIGetCalculationConversations(String applicationName, String databaseName, String conversationId) throws ApiException {
    aIGetCalculationConversationsWithHttpInfo(applicationName, databaseName, conversationId);
  }

  /**
   * Get all calculation specific conversations.
   * &lt;p&gt;Get all calculation specific conversations.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param conversationId &lt;p&gt;Conversation ID.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIGetCalculationConversationsWithHttpInfo(String applicationName, String databaseName, String conversationId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIGetCalculationConversationsRequestBuilder(applicationName, databaseName, conversationId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIGetCalculationConversations", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIGetCalculationConversationsRequestBuilder(String applicationName, String databaseName, String conversationId) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIGetCalculationConversations");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aIGetCalculationConversations");
    }
    // verify the required parameter 'conversationId' is set
    if (conversationId == null) {
      throw new ApiException(400, "Missing the required parameter 'conversationId' when calling aIGetCalculationConversations");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/calculation/conversation/{conversationId}"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()))
        .replace("{conversationId}", ApiClient.urlEncode(conversationId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get AI connection
   * &lt;p&gt;Get AI connection.&lt;/p&gt;
   * @param application application name (optional)
   * @throws ApiException if fails to make API call
   */
  public void aIGetConnection(String application) throws ApiException {
    aIGetConnectionWithHttpInfo(application);
  }

  /**
   * Get AI connection
   * &lt;p&gt;Get AI connection.&lt;/p&gt;
   * @param application application name (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIGetConnectionWithHttpInfo(String application) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIGetConnectionRequestBuilder(application);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIGetConnection", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIGetConnectionRequestBuilder(String application) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/connection";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "application";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("application", application));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get conversation history
   * &lt;p&gt;Get conversation history for the specified outline and conversation Id.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;Profile name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIGetConversationHistory(String applicationName, String databaseName, String profileName) throws ApiException {
    aIGetConversationHistoryWithHttpInfo(applicationName, databaseName, profileName);
  }

  /**
   * Get conversation history
   * &lt;p&gt;Get conversation history for the specified outline and conversation Id.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;Profile name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIGetConversationHistoryWithHttpInfo(String applicationName, String databaseName, String profileName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIGetConversationHistoryRequestBuilder(applicationName, databaseName, profileName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIGetConversationHistory", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIGetConversationHistoryRequestBuilder(String applicationName, String databaseName, String profileName) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIGetConversationHistory");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aIGetConversationHistory");
    }
    // verify the required parameter 'profileName' is set
    if (profileName == null) {
      throw new ApiException(400, "Missing the required parameter 'profileName' when calling aIGetConversationHistory");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/conversationHistory"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "profileName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("profileName", profileName));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get vector index
   * &lt;p&gt;Get vector index.&lt;/p&gt;
   * @throws ApiException if fails to make API call
   */
  public void aIGetVectorIndex() throws ApiException {
    aIGetVectorIndexWithHttpInfo();
  }

  /**
   * Get vector index
   * &lt;p&gt;Get vector index.&lt;/p&gt;
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIGetVectorIndexWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIGetVectorIndexRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIGetVectorIndex", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIGetVectorIndexRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/vectorindex";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List all calculation specific Conversations IDs
   * &lt;p&gt;List all calculation specific Conversations IDs.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIListCalculationConversations(String applicationName, String databaseName) throws ApiException {
    aIListCalculationConversationsWithHttpInfo(applicationName, databaseName);
  }

  /**
   * List all calculation specific Conversations IDs
   * &lt;p&gt;List all calculation specific Conversations IDs.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIListCalculationConversationsWithHttpInfo(String applicationName, String databaseName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIListCalculationConversationsRequestBuilder(applicationName, databaseName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIListCalculationConversations", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIListCalculationConversationsRequestBuilder(String applicationName, String databaseName) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIListCalculationConversations");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aIListCalculationConversations");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/calculation/conversation"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List conversations
   * &lt;p&gt;List conversations for the specified application and database.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIListConversations(String applicationName, String databaseName) throws ApiException {
    aIListConversationsWithHttpInfo(applicationName, databaseName);
  }

  /**
   * List conversations
   * &lt;p&gt;List conversations for the specified application and database.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIListConversationsWithHttpInfo(String applicationName, String databaseName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIListConversationsRequestBuilder(applicationName, databaseName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIListConversations", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIListConversationsRequestBuilder(String applicationName, String databaseName) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIListConversations");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aIListConversations");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/conversation"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List Sample Queries
   * Returns samples queries for an outline
   * @param applicationName  (required)
   * @param databaseName  (required)
   * @throws ApiException if fails to make API call
   */
  public void aIListSampleQueries(String applicationName, String databaseName) throws ApiException {
    aIListSampleQueriesWithHttpInfo(applicationName, databaseName);
  }

  /**
   * List Sample Queries
   * Returns samples queries for an outline
   * @param applicationName  (required)
   * @param databaseName  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIListSampleQueriesWithHttpInfo(String applicationName, String databaseName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIListSampleQueriesRequestBuilder(applicationName, databaseName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIListSampleQueries", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIListSampleQueriesRequestBuilder(String applicationName, String databaseName) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIListSampleQueries");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aIListSampleQueries");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/listSampleQueries"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * MDX Generator
   * &lt;p&gt;MDX Generator.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;Profile name.&lt;/p&gt; (required)
   * @param isConvStart &lt;p&gt;Is Conversation Start.&lt;/p&gt; (required)
   * @param nlq &lt;p&gt;NLQ.&lt;/p&gt; (required)
   * @param includeAttributesInNlq &lt;p&gt;Include Attributes in NLQ.&lt;/p&gt; (required)
   * @param prompt &lt;p&gt;Prompt.&lt;/p&gt; (optional)
   * @param isFeedback &lt;p&gt;Is Feedback.&lt;/p&gt; (optional)
   * @param mdxGeneratorDTO &lt;p&gt;Feedback details.&lt;/p&gt; (optional)
   * @throws ApiException if fails to make API call
   */
  public void aIMDXGenerator(String applicationName, String databaseName, String profileName, Boolean isConvStart, String nlq, Boolean includeAttributesInNlq, String prompt, Boolean isFeedback, MdxGeneratorDTO mdxGeneratorDTO) throws ApiException {
    aIMDXGeneratorWithHttpInfo(applicationName, databaseName, profileName, isConvStart, nlq, includeAttributesInNlq, prompt, isFeedback, mdxGeneratorDTO);
  }

  /**
   * MDX Generator
   * &lt;p&gt;MDX Generator.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;Profile name.&lt;/p&gt; (required)
   * @param isConvStart &lt;p&gt;Is Conversation Start.&lt;/p&gt; (required)
   * @param nlq &lt;p&gt;NLQ.&lt;/p&gt; (required)
   * @param includeAttributesInNlq &lt;p&gt;Include Attributes in NLQ.&lt;/p&gt; (required)
   * @param prompt &lt;p&gt;Prompt.&lt;/p&gt; (optional)
   * @param isFeedback &lt;p&gt;Is Feedback.&lt;/p&gt; (optional)
   * @param mdxGeneratorDTO &lt;p&gt;Feedback details.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aIMDXGeneratorWithHttpInfo(String applicationName, String databaseName, String profileName, Boolean isConvStart, String nlq, Boolean includeAttributesInNlq, String prompt, Boolean isFeedback, MdxGeneratorDTO mdxGeneratorDTO) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aIMDXGeneratorRequestBuilder(applicationName, databaseName, profileName, isConvStart, nlq, includeAttributesInNlq, prompt, isFeedback, mdxGeneratorDTO);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aIMDXGenerator", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aIMDXGeneratorRequestBuilder(String applicationName, String databaseName, String profileName, Boolean isConvStart, String nlq, Boolean includeAttributesInNlq, String prompt, Boolean isFeedback, MdxGeneratorDTO mdxGeneratorDTO) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aIMDXGenerator");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aIMDXGenerator");
    }
    // verify the required parameter 'profileName' is set
    if (profileName == null) {
      throw new ApiException(400, "Missing the required parameter 'profileName' when calling aIMDXGenerator");
    }
    // verify the required parameter 'isConvStart' is set
    if (isConvStart == null) {
      throw new ApiException(400, "Missing the required parameter 'isConvStart' when calling aIMDXGenerator");
    }
    // verify the required parameter 'nlq' is set
    if (nlq == null) {
      throw new ApiException(400, "Missing the required parameter 'nlq' when calling aIMDXGenerator");
    }
    // verify the required parameter 'includeAttributesInNlq' is set
    if (includeAttributesInNlq == null) {
      throw new ApiException(400, "Missing the required parameter 'includeAttributesInNlq' when calling aIMDXGenerator");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/mdxgenerator"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "profileName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("profileName", profileName));
    localVarQueryParameterBaseName = "isConvStart";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("isConvStart", isConvStart));
    localVarQueryParameterBaseName = "nlq";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("nlq", nlq));
    localVarQueryParameterBaseName = "includeAttributesInNlq";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("includeAttributesInNlq", includeAttributesInNlq));
    localVarQueryParameterBaseName = "prompt";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prompt", prompt));
    localVarQueryParameterBaseName = "isFeedback";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("isFeedback", isFeedback));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(mdxGeneratorDTO);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * N-Nearest Neighbour Search
   * &lt;p&gt;N-Nearest Neighbour Search.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param responseParam &lt;p&gt;Response paramter.&lt;/p&gt; (required)
   * @param topMatches &lt;p&gt;Top matches.&lt;/p&gt; (required)
   * @param nnearestNeighbourDTO &lt;p&gt;N-Nearest neighbour body data.&lt;/p&gt; (required)
   * @param aliasType &lt;p&gt;Alias Table Name.&lt;/p&gt; (optional)
   * @param threshold &lt;p&gt;Threshold.&lt;/p&gt; (optional, default to 1)
   * @throws ApiException if fails to make API call
   */
  public void aINNearestNeighbourSearch(String applicationName, String databaseName, String responseParam, Integer topMatches, NNearestNeighbourDTO nnearestNeighbourDTO, String aliasType, Double threshold) throws ApiException {
    aINNearestNeighbourSearchWithHttpInfo(applicationName, databaseName, responseParam, topMatches, nnearestNeighbourDTO, aliasType, threshold);
  }

  /**
   * N-Nearest Neighbour Search
   * &lt;p&gt;N-Nearest Neighbour Search.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param databaseName &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param responseParam &lt;p&gt;Response paramter.&lt;/p&gt; (required)
   * @param topMatches &lt;p&gt;Top matches.&lt;/p&gt; (required)
   * @param nnearestNeighbourDTO &lt;p&gt;N-Nearest neighbour body data.&lt;/p&gt; (required)
   * @param aliasType &lt;p&gt;Alias Table Name.&lt;/p&gt; (optional)
   * @param threshold &lt;p&gt;Threshold.&lt;/p&gt; (optional, default to 1)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aINNearestNeighbourSearchWithHttpInfo(String applicationName, String databaseName, String responseParam, Integer topMatches, NNearestNeighbourDTO nnearestNeighbourDTO, String aliasType, Double threshold) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aINNearestNeighbourSearchRequestBuilder(applicationName, databaseName, responseParam, topMatches, nnearestNeighbourDTO, aliasType, threshold);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aINNearestNeighbourSearch", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aINNearestNeighbourSearchRequestBuilder(String applicationName, String databaseName, String responseParam, Integer topMatches, NNearestNeighbourDTO nnearestNeighbourDTO, String aliasType, Double threshold) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling aINNearestNeighbourSearch");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling aINNearestNeighbourSearch");
    }
    // verify the required parameter 'responseParam' is set
    if (responseParam == null) {
      throw new ApiException(400, "Missing the required parameter 'responseParam' when calling aINNearestNeighbourSearch");
    }
    // verify the required parameter 'topMatches' is set
    if (topMatches == null) {
      throw new ApiException(400, "Missing the required parameter 'topMatches' when calling aINNearestNeighbourSearch");
    }
    // verify the required parameter 'nnearestNeighbourDTO' is set
    if (nnearestNeighbourDTO == null) {
      throw new ApiException(400, "Missing the required parameter 'nnearestNeighbourDTO' when calling aINNearestNeighbourSearch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/applications/{applicationName}/databases/{databaseName}/nnearestneighboursearch"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "responseParam";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("responseParam", responseParam));
    localVarQueryParameterBaseName = "aliasType";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("aliasType", aliasType));
    localVarQueryParameterBaseName = "topMatches";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("topMatches", topMatches));
    localVarQueryParameterBaseName = "threshold";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("threshold", threshold));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(nnearestNeighbourDTO);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * AI Narrate
   * &lt;p&gt;AI Narrate.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI connection name.&lt;/p&gt; (required)
   * @param vectorIndexName &lt;p&gt;Vector index name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;Profile name.&lt;/p&gt; (required)
   * @param docDirName &lt;p&gt;Name of directory where all the doc files are kept.&lt;/p&gt; (required)
   * @param prompt &lt;p&gt;Prompt.&lt;/p&gt; (required)
   * @param isConvStart &lt;p&gt;Is Conversation Start.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aINarrateVectorIndex(String aiConnectionName, String vectorIndexName, String profileName, String docDirName, String prompt, Boolean isConvStart) throws ApiException {
    aINarrateVectorIndexWithHttpInfo(aiConnectionName, vectorIndexName, profileName, docDirName, prompt, isConvStart);
  }

  /**
   * AI Narrate
   * &lt;p&gt;AI Narrate.&lt;/p&gt;
   * @param aiConnectionName &lt;p&gt;AI connection name.&lt;/p&gt; (required)
   * @param vectorIndexName &lt;p&gt;Vector index name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;Profile name.&lt;/p&gt; (required)
   * @param docDirName &lt;p&gt;Name of directory where all the doc files are kept.&lt;/p&gt; (required)
   * @param prompt &lt;p&gt;Prompt.&lt;/p&gt; (required)
   * @param isConvStart &lt;p&gt;Is Conversation Start.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> aINarrateVectorIndexWithHttpInfo(String aiConnectionName, String vectorIndexName, String profileName, String docDirName, String prompt, Boolean isConvStart) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = aINarrateVectorIndexRequestBuilder(aiConnectionName, vectorIndexName, profileName, docDirName, prompt, isConvStart);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("aINarrateVectorIndex", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder aINarrateVectorIndexRequestBuilder(String aiConnectionName, String vectorIndexName, String profileName, String docDirName, String prompt, Boolean isConvStart) throws ApiException {
    // verify the required parameter 'aiConnectionName' is set
    if (aiConnectionName == null) {
      throw new ApiException(400, "Missing the required parameter 'aiConnectionName' when calling aINarrateVectorIndex");
    }
    // verify the required parameter 'vectorIndexName' is set
    if (vectorIndexName == null) {
      throw new ApiException(400, "Missing the required parameter 'vectorIndexName' when calling aINarrateVectorIndex");
    }
    // verify the required parameter 'profileName' is set
    if (profileName == null) {
      throw new ApiException(400, "Missing the required parameter 'profileName' when calling aINarrateVectorIndex");
    }
    // verify the required parameter 'docDirName' is set
    if (docDirName == null) {
      throw new ApiException(400, "Missing the required parameter 'docDirName' when calling aINarrateVectorIndex");
    }
    // verify the required parameter 'prompt' is set
    if (prompt == null) {
      throw new ApiException(400, "Missing the required parameter 'prompt' when calling aINarrateVectorIndex");
    }
    // verify the required parameter 'isConvStart' is set
    if (isConvStart == null) {
      throw new ApiException(400, "Missing the required parameter 'isConvStart' when calling aINarrateVectorIndex");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/ai/aiconnection/{aiConnectionName}/vectorindex/{vectorIndexName}/narrate/{profileName}"
        .replace("{aiConnectionName}", ApiClient.urlEncode(aiConnectionName.toString()))
        .replace("{vectorIndexName}", ApiClient.urlEncode(vectorIndexName.toString()))
        .replace("{profileName}", ApiClient.urlEncode(profileName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "docDirName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("docDirName", docDirName));
    localVarQueryParameterBaseName = "prompt";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prompt", prompt));
    localVarQueryParameterBaseName = "isConvStart";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("isConvStart", isConvStart));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * AI pass through
   * &lt;p&gt;AI pass through for the specified application.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;Profile name.&lt;/p&gt; (required)
   * @param isConvStart &lt;p&gt;Is Conversation Start.&lt;/p&gt; (required)
   * @param passThroughDTO &lt;p&gt;Pass through prompt details.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void aIPassThrough(String applicationName, String profileName, Boolean isConvStart, PassThroughDTO passThroughDTO) throws ApiException {
    aIPassThroughWithHttpInfo(applicationName, profileName, isConvStart, passThroughDTO);
  }

  /**
   * AI pass through
   * &lt;p&gt;AI pass through for the specified application.&lt;/p&gt;
   * @param applicationName &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param profileName &lt;p&gt;Profile name.&lt;/p&gt; (required)
   * @param isConvStart &lt;p&gt;Is Conversation Start.&lt;/p&gt; (required)
   * @param passThroughDTO &lt;p&gt;Pass through prompt details.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
[...]
