/*
 * Essbase REST API
 * The REST API for Oracle Essbase enables you to automate management of Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: V1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.UserGroupProvisionInfo;
import com.appliedolap.essbase.client.model.UserGroupProvisionInfoList;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class ApplicationRoleProvisioningApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ApplicationRoleProvisioningApi() {
    this(new ApiClient());
  }

  public ApplicationRoleProvisioningApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Deprovision User or Group from Application
   * &lt;p&gt;Deprovisions a single user or group on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param group &lt;p&gt;If true, ID is for a group. If false, ID is for a user. Default is false (ID is considered to be for a user.)&lt;/p&gt; (optional, default to false)
   * @throws ApiException if fails to make API call
   */
  public void applicationRoleProvisioningDeprovision(String app, String id, Boolean group) throws ApiException {
    applicationRoleProvisioningDeprovisionWithHttpInfo(app, id, group);
  }

  /**
   * Deprovision User or Group from Application
   * &lt;p&gt;Deprovisions a single user or group on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param group &lt;p&gt;If true, ID is for a group. If false, ID is for a user. Default is false (ID is considered to be for a user.)&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> applicationRoleProvisioningDeprovisionWithHttpInfo(String app, String id, Boolean group) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = applicationRoleProvisioningDeprovisionRequestBuilder(app, id, group);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("applicationRoleProvisioningDeprovision", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder applicationRoleProvisioningDeprovisionRequestBuilder(String app, String id, Boolean group) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling applicationRoleProvisioningDeprovision");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling applicationRoleProvisioningDeprovision");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{app}/permissions/{id}"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "group";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("group", group));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Application Role Provision
   * &lt;p&gt;Gets provisioning information on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param group &lt;p&gt;If true, ID is for a group. If false, ID is for a user. Default is false (ID is considered to be for a user.)&lt;/p&gt; (optional, default to false)
   * @param inherited &lt;p&gt;If true, consider roles derived through parent groups. Default is false.&lt;/p&gt; (optional, default to false)
   * @return UserGroupProvisionInfo
   * @throws ApiException if fails to make API call
   */
  public UserGroupProvisionInfo applicationRoleProvisioningGetProvision(String app, String id, Boolean group, Boolean inherited) throws ApiException {
    ApiResponse<UserGroupProvisionInfo> localVarResponse = applicationRoleProvisioningGetProvisionWithHttpInfo(app, id, group, inherited);
    return localVarResponse.getData();
  }

  /**
   * Get Application Role Provision
   * &lt;p&gt;Gets provisioning information on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param group &lt;p&gt;If true, ID is for a group. If false, ID is for a user. Default is false (ID is considered to be for a user.)&lt;/p&gt; (optional, default to false)
   * @param inherited &lt;p&gt;If true, consider roles derived through parent groups. Default is false.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;UserGroupProvisionInfo&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<UserGroupProvisionInfo> applicationRoleProvisioningGetProvisionWithHttpInfo(String app, String id, Boolean group, Boolean inherited) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = applicationRoleProvisioningGetProvisionRequestBuilder(app, id, group, inherited);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("applicationRoleProvisioningGetProvision", localVarResponse);
        }
        return new ApiResponse<UserGroupProvisionInfo>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<UserGroupProvisionInfo>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder applicationRoleProvisioningGetProvisionRequestBuilder(String app, String id, Boolean group, Boolean inherited) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling applicationRoleProvisioningGetProvision");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling applicationRoleProvisioningGetProvision");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{app}/permissions/{id}"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "group";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("group", group));
    localVarQueryParameterBaseName = "inherited";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("inherited", inherited));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Import Application Role Provisioning
   * &lt;p&gt;Imports provisioning for multiple users or groups on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt; &lt;p&gt;Takes as input a comma-separated (CSV) import file indicated in &lt;b&gt;--data-binary&lt;/b&gt; option. Output can be written to a file specified by &lt;b&gt;--output&lt;/b&gt; option, or to standard output if the output option is not provided. Requirements for the import file:&lt;/p&gt; &lt;ol&gt;&lt;li&gt;No headers (first line is the first record)&lt;/li&gt;&lt;li&gt;Col1: user/group ID&lt;/li&gt;&lt;li&gt;Col2: Application permission. Values: &lt;b&gt;db_access&lt;/b&gt;, &lt;b&gt;db_update&lt;/b&gt;, &lt;b&gt;db_manager&lt;/b&gt;, or &lt;b&gt;app_manager&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Col3 (optional, Boolean) Is the ID a group? true|false (default false)&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Sample import.csv  file:&lt;/p&gt;&lt;table&gt;&lt;tr&gt;&lt;td&gt;User1,app_manager,false&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;User2,db_manager,false&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Group1,db_access,true&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void applicationRoleProvisioningImportProvision(String app) throws ApiException {
    applicationRoleProvisioningImportProvisionWithHttpInfo(app);
  }

  /**
   * Import Application Role Provisioning
   * &lt;p&gt;Imports provisioning for multiple users or groups on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt; &lt;p&gt;Takes as input a comma-separated (CSV) import file indicated in &lt;b&gt;--data-binary&lt;/b&gt; option. Output can be written to a file specified by &lt;b&gt;--output&lt;/b&gt; option, or to standard output if the output option is not provided. Requirements for the import file:&lt;/p&gt; &lt;ol&gt;&lt;li&gt;No headers (first line is the first record)&lt;/li&gt;&lt;li&gt;Col1: user/group ID&lt;/li&gt;&lt;li&gt;Col2: Application permission. Values: &lt;b&gt;db_access&lt;/b&gt;, &lt;b&gt;db_update&lt;/b&gt;, &lt;b&gt;db_manager&lt;/b&gt;, or &lt;b&gt;app_manager&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Col3 (optional, Boolean) Is the ID a group? true|false (default false)&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Sample import.csv  file:&lt;/p&gt;&lt;table&gt;&lt;tr&gt;&lt;td&gt;User1,app_manager,false&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;User2,db_manager,false&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Group1,db_access,true&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> applicationRoleProvisioningImportProvisionWithHttpInfo(String app) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = applicationRoleProvisioningImportProvisionRequestBuilder(app);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("applicationRoleProvisioningImportProvision", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder applicationRoleProvisioningImportProvisionRequestBuilder(String app) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling applicationRoleProvisioningImportProvision");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{app}/permissions"
        .replace("{app}", ApiClient.urlEncode(app.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Provision Application Role to User or Group
   * &lt;p&gt;Provisions a single user or group on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param userGroupProvisionInfo &lt;p&gt;User or group provisioning information.&lt;/p&gt; (optional)
   * @throws ApiException if fails to make API call
   */
  public void applicationRoleProvisioningProvision(String app, String id, UserGroupProvisionInfo userGroupProvisionInfo) throws ApiException {
    applicationRoleProvisioningProvisionWithHttpInfo(app, id, userGroupProvisionInfo);
  }

  /**
   * Provision Application Role to User or Group
   * &lt;p&gt;Provisions a single user or group on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param userGroupProvisionInfo &lt;p&gt;User or group provisioning information.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> applicationRoleProvisioningProvisionWithHttpInfo(String app, String id, UserGroupProvisionInfo userGroupProvisionInfo) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = applicationRoleProvisioningProvisionRequestBuilder(app, id, userGroupProvisionInfo);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("applicationRoleProvisioningProvision", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder applicationRoleProvisioningProvisionRequestBuilder(String app, String id, UserGroupProvisionInfo userGroupProvisionInfo) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling applicationRoleProvisioningProvision");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling applicationRoleProvisioningProvision");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{app}/permissions/{id}"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(userGroupProvisionInfo);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Search Application Role Provisioning
   * &lt;p&gt;Search for provisioning information on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param id &lt;p&gt;User or group ID wildcard pattern. if specified, returns users and groups matching the pattern. If not specified, returns all users and groups having some role. Users or groups having no role are not returned.&lt;/p&gt; (optional, default to *)
   * @param role &lt;p&gt;Input may include &lt;code&gt;all&lt;/code&gt;, &lt;code&gt;none&lt;/code&gt;, or a comma-separated list of roles (for example, &lt;code&gt;app_manager&lt;/code&gt;, &lt;code&gt;db_manager&lt;/code&gt;, &lt;code&gt;db_update&lt;/code&gt;,or &lt;code&gt;db_access&lt;/code&gt;). Default value is &lt;code&gt;all&lt;/code&gt;, so if this query parameter is not specified, all users and groups having some role are returned. If &lt;code&gt;none&lt;/code&gt; is specified, only users and groups having no role will be returned. If named roles are specified, then only users and groups having any of the named roles are returned.&lt;/p&gt; (optional, default to all)
   * @param filter &lt;p&gt;Input may include &lt;code&gt;all&lt;/code&gt;, &lt;code&gt;group&lt;/code&gt;, or &lt;code&gt;user&lt;/code&gt;. Default value is &lt;code&gt;all&lt;/code&gt;, so if this query parameter is not specified, all users and groups are returned.&lt;/p&gt; (optional, default to all)
   * @param inherited &lt;p&gt;If true, consider roles derived through parent groups. Default is false.&lt;/p&gt; (optional, default to false)
   * @return UserGroupProvisionInfoList
   * @throws ApiException if fails to make API call
   */
  public UserGroupProvisionInfoList applicationRoleProvisioningSearchProvision(String app, String id, String role, String filter, Boolean inherited) throws ApiException {
    ApiResponse<UserGroupProvisionInfoList> localVarResponse = applicationRoleProvisioningSearchProvisionWithHttpInfo(app, id, role, filter, inherited);
    return localVarResponse.getData();
  }

  /**
   * Search Application Role Provisioning
   * &lt;p&gt;Search for provisioning information on the specified application.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param id &lt;p&gt;User or group ID wildcard pattern. if specified, returns users and groups matching the pattern. If not specified, returns all users and groups having some role. Users or groups having no role are not returned.&lt;/p&gt; (optional, default to *)
   * @param role &lt;p&gt;Input may include &lt;code&gt;all&lt;/code&gt;, &lt;code&gt;none&lt;/code&gt;, or a comma-separated list of roles (for example, &lt;code&gt;app_manager&lt;/code&gt;, &lt;code&gt;db_manager&lt;/code&gt;, &lt;code&gt;db_update&lt;/code&gt;,or &lt;code&gt;db_access&lt;/code&gt;). Default value is &lt;code&gt;all&lt;/code&gt;, so if this query parameter is not specified, all users and groups having some role are returned. If &lt;code&gt;none&lt;/code&gt; is specified, only users and groups having no role will be returned. If named roles are specified, then only users and groups having any of the named roles are returned.&lt;/p&gt; (optional, default to all)
   * @param filter &lt;p&gt;Input may include &lt;code&gt;all&lt;/code&gt;, &lt;code&gt;group&lt;/code&gt;, or &lt;code&gt;user&lt;/code&gt;. Default value is &lt;code&gt;all&lt;/code&gt;, so if this query parameter is not specified, all users and groups are returned.&lt;/p&gt; (optional, default to all)
   * @param inherited &lt;p&gt;If true, consider roles derived through parent groups. Default is false.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;UserGroupProvisionInfoList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<UserGroupProvisionInfoList> applicationRoleProvisioningSearchProvisionWithHttpInfo(String app, String id, String role, String filter, Boolean inherited) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = applicationRoleProvisioningSearchProvisionRequestBuilder(app, id, role, filter, inherited);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("applicationRoleProvisioningSearchProvision", localVarResponse);
        }
        return new ApiResponse<UserGroupProvisionInfoList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<UserGroupProvisionInfoList>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder applicationRoleProvisioningSearchProvisionRequestBuilder(String app, String id, String role, String filter, Boolean inherited) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling applicationRoleProvisioningSearchProvision");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{app}/permissions"
        .replace("{app}", ApiClient.urlEncode(app.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParameterBaseName = "role";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("role", role));
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "inherited";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("inherited", inherited));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
