/*
 * sometitle
 * The REST API for Essbase provides an automation framework for managing Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.BOEOutput;
import com.appliedolap.essbase.client.model.OtlEditMain;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class BatchOutlineEditingApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public BatchOutlineEditingApi() {
    this(new ApiClient());
  }

  public BatchOutlineEditingApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Run Batch Outline Edit
   * &lt;p&gt;Executes batch outline editing process. Based on the XML or JSON body, adds or removes members from the outline in the active cube.&lt;/p&gt;
   * @param application &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param database &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param body Batch outline JSON/XML (required)
   * @return BOEOutput
   * @throws ApiException if fails to make API call
   */
  public BOEOutput batchOutlineEditingExecute(String application, String database, OtlEditMain body) throws ApiException {
    ApiResponse<BOEOutput> localVarResponse = batchOutlineEditingExecuteWithHttpInfo(application, database, body);
    return localVarResponse.getData();
  }

  /**
   * Run Batch Outline Edit
   * &lt;p&gt;Executes batch outline editing process. Based on the XML or JSON body, adds or removes members from the outline in the active cube.&lt;/p&gt;
   * @param application &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param database &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param body Batch outline JSON/XML (required)
   * @return ApiResponse&lt;BOEOutput&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BOEOutput> batchOutlineEditingExecuteWithHttpInfo(String application, String database, OtlEditMain body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = batchOutlineEditingExecuteRequestBuilder(application, database, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("batchOutlineEditingExecute", localVarResponse);
        }
        return new ApiResponse<BOEOutput>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<BOEOutput>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder batchOutlineEditingExecuteRequestBuilder(String application, String database, OtlEditMain body) throws ApiException {
    // verify the required parameter 'application' is set
    if (application == null) {
      throw new ApiException(400, "Missing the required parameter 'application' when calling batchOutlineEditingExecute");
    }
    // verify the required parameter 'database' is set
    if (database == null) {
      throw new ApiException(400, "Missing the required parameter 'database' when calling batchOutlineEditingExecute");
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling batchOutlineEditingExecute");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{application}/databases/{database}/boe"
        .replace("{application}", ApiClient.urlEncode(application.toString()))
        .replace("{database}", ApiClient.urlEncode(database.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
