/*
 * Essbase REST API
 * The REST API for Oracle Essbase enables you to automate management of Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: V1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.CollectionResponse;
import com.appliedolap.essbase.client.model.CommitFilePartUploadResponse;
import com.appliedolap.essbase.client.model.CreateFilePartUploadResponse;
import com.appliedolap.essbase.client.model.FilePathDetail;
import com.appliedolap.essbase.client.model.FilesAddFile200Response;
import com.appliedolap.essbase.client.model.UploadFilePartResponse;
import com.appliedolap.essbase.client.model.ZipFileDetails;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class FilesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public FilesApi() {
    this(new ApiClient());
  }

  public FilesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Abort Multipart File Upload
   * &lt;p&gt;Terminate the multipart upload operation of a file and delete all the uploaded parts.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path of the folder for which to terminate the multipart upload.&lt;/p&gt; (required)
   * @param uploadId &lt;p&gt;Upload ID of partial file upload initiation.&lt;/p&gt; (required)
   * @throws ApiException if fails to make API call
   */
  public void filesAbortUpload(String path, String uploadId) throws ApiException {
    filesAbortUploadWithHttpInfo(path, uploadId);
  }

  /**
   * Abort Multipart File Upload
   * &lt;p&gt;Terminate the multipart upload operation of a file and delete all the uploaded parts.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path of the folder for which to terminate the multipart upload.&lt;/p&gt; (required)
   * @param uploadId &lt;p&gt;Upload ID of partial file upload initiation.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> filesAbortUploadWithHttpInfo(String path, String uploadId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesAbortUploadRequestBuilder(path, uploadId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesAbortUpload", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesAbortUploadRequestBuilder(String path, String uploadId) throws ApiException {
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling filesAbortUpload");
    }
    // verify the required parameter 'uploadId' is set
    if (uploadId == null) {
      throw new ApiException(400, "Missing the required parameter 'uploadId' when calling filesAbortUpload");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/abort/{path}"
        .replace("{path}", ApiClient.urlEncode(path.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "uploadId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("uploadId", uploadId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Upload File or Create Folder
   * &lt;p&gt;Uploads a file to Essbase.&lt;/p&gt;&lt;p&gt;Supported file types include text files, rules files, calculation script files, and MaxL script files.&lt;/p&gt; &lt;p&gt;If there is no content type, and a folder name is specified in the URL, a folder is created.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path. If &lt;code&gt;Content-Type&#x3D;application/octet-stream&lt;/code&gt;, this is a file name. Otherwise, it is a folder name.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Applicable only for adding a file. Overwriting folders is not supported.&lt;/p&gt; (required)
   * @param append &lt;p&gt;Append to existing file?&lt;/p&gt; (optional, default to false)
   * @return FilesAddFile200Response
   * @throws ApiException if fails to make API call
   */
  public FilesAddFile200Response filesAddFile(String path, Boolean overwrite, Boolean append) throws ApiException {
    ApiResponse<FilesAddFile200Response> localVarResponse = filesAddFileWithHttpInfo(path, overwrite, append);
    return localVarResponse.getData();
  }

  /**
   * Upload File or Create Folder
   * &lt;p&gt;Uploads a file to Essbase.&lt;/p&gt;&lt;p&gt;Supported file types include text files, rules files, calculation script files, and MaxL script files.&lt;/p&gt; &lt;p&gt;If there is no content type, and a folder name is specified in the URL, a folder is created.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path. If &lt;code&gt;Content-Type&#x3D;application/octet-stream&lt;/code&gt;, this is a file name. Otherwise, it is a folder name.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Applicable only for adding a file. Overwriting folders is not supported.&lt;/p&gt; (required)
   * @param append &lt;p&gt;Append to existing file?&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;FilesAddFile200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<FilesAddFile200Response> filesAddFileWithHttpInfo(String path, Boolean overwrite, Boolean append) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesAddFileRequestBuilder(path, overwrite, append);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesAddFile", localVarResponse);
        }
        return new ApiResponse<FilesAddFile200Response>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<FilesAddFile200Response>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesAddFileRequestBuilder(String path, Boolean overwrite, Boolean append) throws ApiException {
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling filesAddFile");
    }
    // verify the required parameter 'overwrite' is set
    if (overwrite == null) {
      throw new ApiException(400, "Missing the required parameter 'overwrite' when calling filesAddFile");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/{path}"
        .replace("{path}", ApiClient.urlEncode(path.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "overwrite";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("overwrite", overwrite));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (append != null) {
      localVarRequestBuilder.header("append", append.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Copy File
   * &lt;p&gt;Copy a file from source to destination.&lt;/p&gt;
   * @param filePathDetail &lt;p&gt;File path details.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite existing file.&lt;/p&gt; (optional, default to false)
   * @throws ApiException if fails to make API call
   */
  public void filesCopyResource(FilePathDetail filePathDetail, Boolean overwrite) throws ApiException {
    filesCopyResourceWithHttpInfo(filePathDetail, overwrite);
  }

  /**
   * Copy File
   * &lt;p&gt;Copy a file from source to destination.&lt;/p&gt;
   * @param filePathDetail &lt;p&gt;File path details.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite existing file.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> filesCopyResourceWithHttpInfo(FilePathDetail filePathDetail, Boolean overwrite) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesCopyResourceRequestBuilder(filePathDetail, overwrite);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesCopyResource", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesCopyResourceRequestBuilder(FilePathDetail filePathDetail, Boolean overwrite) throws ApiException {
    // verify the required parameter 'filePathDetail' is set
    if (filePathDetail == null) {
      throw new ApiException(400, "Missing the required parameter 'filePathDetail' when calling filesCopyResource");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/actions/copy";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "overwrite";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("overwrite", overwrite));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(filePathDetail);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Create Multipart File Upload
   * &lt;p&gt;Initialize a file upload in parts. This operation registers the file object and returns a unique upload ID, which must be included in any request related to this file-part upload.&lt;/p&gt;&lt;p&gt;Multipart file upload can improve performance of uploads by parallelizing them into threads. Multipart upload also protects against needing to restart large uploads in case of network failures.&lt;/p&gt;&lt;p&gt;This operation is the first step in the multi-part file upload process. The next steps are to upload the file parts, and then commit the upload.&lt;/p&gt;&lt;p&gt;&lt;b&gt;See Also&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href&#x3D;\&quot;./op-files-upload-part-path-put.html\&quot;&gt;Upload File Part&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href&#x3D;\&quot;./op-files-upload-commit-path-post.html\&quot;&gt;Commit Partial File Upload&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href&#x3D;\&quot;./op-files-abort-path-delete.html\&quot;&gt;Abort Multipart File Upload&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;
   * @param path &lt;p&gt;Catalog path of the folder to which you want to upload the file.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite if file exists?&lt;/p&gt; (required)
   * @param append &lt;p&gt;Append to an existing file?&lt;/p&gt; (required)
   * @return CreateFilePartUploadResponse
   * @throws ApiException if fails to make API call
   */
  public CreateFilePartUploadResponse filesCreateUpload(String path, Boolean overwrite, Boolean append) throws ApiException {
    ApiResponse<CreateFilePartUploadResponse> localVarResponse = filesCreateUploadWithHttpInfo(path, overwrite, append);
    return localVarResponse.getData();
  }

  /**
   * Create Multipart File Upload
   * &lt;p&gt;Initialize a file upload in parts. This operation registers the file object and returns a unique upload ID, which must be included in any request related to this file-part upload.&lt;/p&gt;&lt;p&gt;Multipart file upload can improve performance of uploads by parallelizing them into threads. Multipart upload also protects against needing to restart large uploads in case of network failures.&lt;/p&gt;&lt;p&gt;This operation is the first step in the multi-part file upload process. The next steps are to upload the file parts, and then commit the upload.&lt;/p&gt;&lt;p&gt;&lt;b&gt;See Also&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href&#x3D;\&quot;./op-files-upload-part-path-put.html\&quot;&gt;Upload File Part&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href&#x3D;\&quot;./op-files-upload-commit-path-post.html\&quot;&gt;Commit Partial File Upload&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href&#x3D;\&quot;./op-files-abort-path-delete.html\&quot;&gt;Abort Multipart File Upload&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;
   * @param path &lt;p&gt;Catalog path of the folder to which you want to upload the file.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite if file exists?&lt;/p&gt; (required)
   * @param append &lt;p&gt;Append to an existing file?&lt;/p&gt; (required)
   * @return ApiResponse&lt;CreateFilePartUploadResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CreateFilePartUploadResponse> filesCreateUploadWithHttpInfo(String path, Boolean overwrite, Boolean append) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesCreateUploadRequestBuilder(path, overwrite, append);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesCreateUpload", localVarResponse);
        }
        return new ApiResponse<CreateFilePartUploadResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CreateFilePartUploadResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesCreateUploadRequestBuilder(String path, Boolean overwrite, Boolean append) throws ApiException {
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling filesCreateUpload");
    }
    // verify the required parameter 'overwrite' is set
    if (overwrite == null) {
      throw new ApiException(400, "Missing the required parameter 'overwrite' when calling filesCreateUpload");
    }
    // verify the required parameter 'append' is set
    if (append == null) {
      throw new ApiException(400, "Missing the required parameter 'append' when calling filesCreateUpload");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/upload-create/{path}"
        .replace("{path}", ApiClient.urlEncode(path.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "overwrite";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("overwrite", overwrite));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (append != null) {
      localVarRequestBuilder.header("append", append.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete File or Folder
   * &lt;p&gt;Delete the file or folder specified in the path.&lt;/p&gt;
   * @param path Path of file/folder to delete (required)
   * @throws ApiException if fails to make API call
   */
  public void filesDeleteFile(String path) throws ApiException {
    filesDeleteFileWithHttpInfo(path);
  }

  /**
   * Delete File or Folder
   * &lt;p&gt;Delete the file or folder specified in the path.&lt;/p&gt;
   * @param path Path of file/folder to delete (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> filesDeleteFileWithHttpInfo(String path) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesDeleteFileRequestBuilder(path);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesDeleteFile", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesDeleteFileRequestBuilder(String path) throws ApiException {
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling filesDeleteFile");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/{path}"
        .replace("{path}", ApiClient.urlEncode(path.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Extract Zip File
   * &lt;p&gt;Extract a zip file on same location. Supported for applications, users and shared folders.&lt;/p&gt;
   * @param zipFileDetails &lt;p&gt;Zip file path details.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite existing file. Not applicable for folder.&lt;/p&gt; (optional, default to false)
   * @throws ApiException if fails to make API call
   */
  public void filesExtract(ZipFileDetails zipFileDetails, Boolean overwrite) throws ApiException {
    filesExtractWithHttpInfo(zipFileDetails, overwrite);
  }

  /**
   * Extract Zip File
   * &lt;p&gt;Extract a zip file on same location. Supported for applications, users and shared folders.&lt;/p&gt;
   * @param zipFileDetails &lt;p&gt;Zip file path details.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite existing file. Not applicable for folder.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> filesExtractWithHttpInfo(ZipFileDetails zipFileDetails, Boolean overwrite) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesExtractRequestBuilder(zipFileDetails, overwrite);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesExtract", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesExtractRequestBuilder(ZipFileDetails zipFileDetails, Boolean overwrite) throws ApiException {
    // verify the required parameter 'zipFileDetails' is set
    if (zipFileDetails == null) {
      throw new ApiException(400, "Missing the required parameter 'zipFileDetails' when calling filesExtract");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/actions/extract";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "overwrite";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("overwrite", overwrite));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(zipFileDetails);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Extract Zip File Using a Job
   * &lt;p&gt;Extract a zip file on the current Essbase catalog, using a system job. Supported for applications, users and shared folders.&lt;/p&gt;&lt;p&gt;This endpoint is similar to &lt;a href&#x3D;\&quot;./op-files-actions-extract-post.html\&quot;&gt;Extract Zip File&lt;/a&gt;, except it initiates a system job you can monitor using &lt;a href&#x3D;\&quot;./op-jobs-get.html\&quot;&gt;Get Job List&lt;/a&gt;. Use this endpoint if you experience failures with &lt;a href&#x3D;\&quot;./op-files-actions-extract-post.html\&quot;&gt;Extract Zip File&lt;/a&gt;.&lt;/p&gt;
   * @param zipFileDetails &lt;p&gt;Zip file path details.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite existing file. Not applicable for folder.&lt;/p&gt; (optional, default to false)
   * @throws ApiException if fails to make API call
   */
  public void filesExtractJob(ZipFileDetails zipFileDetails, Boolean overwrite) throws ApiException {
    filesExtractJobWithHttpInfo(zipFileDetails, overwrite);
  }

  /**
   * Extract Zip File Using a Job
   * &lt;p&gt;Extract a zip file on the current Essbase catalog, using a system job. Supported for applications, users and shared folders.&lt;/p&gt;&lt;p&gt;This endpoint is similar to &lt;a href&#x3D;\&quot;./op-files-actions-extract-post.html\&quot;&gt;Extract Zip File&lt;/a&gt;, except it initiates a system job you can monitor using &lt;a href&#x3D;\&quot;./op-jobs-get.html\&quot;&gt;Get Job List&lt;/a&gt;. Use this endpoint if you experience failures with &lt;a href&#x3D;\&quot;./op-files-actions-extract-post.html\&quot;&gt;Extract Zip File&lt;/a&gt;.&lt;/p&gt;
   * @param zipFileDetails &lt;p&gt;Zip file path details.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite existing file. Not applicable for folder.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> filesExtractJobWithHttpInfo(ZipFileDetails zipFileDetails, Boolean overwrite) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesExtractJobRequestBuilder(zipFileDetails, overwrite);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesExtractJob", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesExtractJobRequestBuilder(ZipFileDetails zipFileDetails, Boolean overwrite) throws ApiException {
    // verify the required parameter 'zipFileDetails' is set
    if (zipFileDetails == null) {
      throw new ApiException(400, "Missing the required parameter 'zipFileDetails' when calling filesExtractJob");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/actions/extractJob";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "overwrite";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("overwrite", overwrite));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(zipFileDetails);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get database names from LCM zip file
   * Extracts database names from the Databases folder in an LCM zip file
   * @param zipFileName Zip file path (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String filesGetDatabasesFromLCMZip(String zipFileName) throws ApiException {
    ApiResponse<String> localVarResponse = filesGetDatabasesFromLCMZipWithHttpInfo(zipFileName);
    return localVarResponse.getData();
  }

  /**
   * Get database names from LCM zip file
   * Extracts database names from the Databases folder in an LCM zip file
   * @param zipFileName Zip file path (required)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> filesGetDatabasesFromLCMZipWithHttpInfo(String zipFileName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesGetDatabasesFromLCMZipRequestBuilder(zipFileName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesGetDatabasesFromLCMZip", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesGetDatabasesFromLCMZipRequestBuilder(String zipFileName) throws ApiException {
    // verify the required parameter 'zipFileName' is set
    if (zipFileName == null) {
      throw new ApiException(400, "Missing the required parameter 'zipFileName' when calling filesGetDatabasesFromLCMZip");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/getDatabasesFromLCMZip";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "zipFileName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("zipFileName", zipFileName));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Shared Path
   * &lt;p&gt;Get the shared path in the Essbase file catalog. This directory is a good location to store files and artifacts that you can use in more than one cube. Its contents are accessible to all users.&lt;/p&gt;
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String filesGetSharedPath() throws ApiException {
    ApiResponse<String> localVarResponse = filesGetSharedPathWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Get Shared Path
   * &lt;p&gt;Get the shared path in the Essbase file catalog. This directory is a good location to store files and artifacts that you can use in more than one cube. Its contents are accessible to all users.&lt;/p&gt;
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> filesGetSharedPathWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesGetSharedPathRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesGetSharedPath", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesGetSharedPathRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/sharedpath";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Home Path
   * &lt;p&gt;Get the home path of the current logged in user.&lt;/p&gt;
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String filesGetUserHomePath() throws ApiException {
    ApiResponse<String> localVarResponse = filesGetUserHomePathWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Get Home Path
   * &lt;p&gt;Get the home path of the current logged in user.&lt;/p&gt;
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> filesGetUserHomePathWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesGetUserHomePathRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesGetUserHomePath", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesGetUserHomePathRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/homepath";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List or Download Files
   * &lt;p&gt;Returns a list of files, or downloads the specified file. To list files, use &lt;code&gt;Accept&#x3D;&#39;application/json&#39;&lt;/code&gt; for the Accept header. To download, use &lt;code&gt;Accept&#x3D;&#39;application/octet-stream&#39;&lt;/code&gt; for the Accept header.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path, starting with &lt;code&gt;applications&lt;/code&gt;, &lt;code&gt;shared&lt;/code&gt;, or &lt;code&gt;users&lt;/code&gt;. If listing files, this is the folder path. If downloading files, this is the file path.&lt;/p&gt;&lt;p&gt;Examples:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;code&gt;applications/sample&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;code&gt;shared&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;code&gt;users/ksmith&lt;/code&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param offset &lt;p&gt;Number of items to omit from the start of the result set. Default value is 0. Applicable only for listing files.&lt;/p&gt; (optional)
   * @param limit &lt;p&gt;Maximum number of files to return. Applicable only for listing files.&lt;/p&gt; (optional)
   * @param type &lt;p&gt;List files by type. If type is not specified, returns all files. Applicable only for listing files.&lt;/p&gt; (optional)
   * @param orderBy &lt;p&gt;Order By specification in format:&lt;code&gt;column&lt;/code&gt;:&lt;code&gt;direction&lt;/code&gt;. e.g.&lt;code&gt;name:asc&lt;/code&gt; &lt;/p&gt; (optional, default to )
   * @param overwrite &lt;p&gt;If true, overwrite files. If false, any existing file is validated but not overwritten. Applicable only with query parameters  &lt;code&gt;action&#x3D;validateUpload&lt;/code&gt; and &lt;code&gt;Accept&#x3D;&#39;application/json&#39;&lt;/code&gt; or &lt;code&gt;Accept&#x3D;&#39;application/xml&#39;&lt;/code&gt; . Default value is false.&lt;/p&gt; (optional, default to false)
   * @param action &lt;p&gt;Validates the upload. Supported action values are &lt;code&gt;validateUpload&lt;/code&gt; and &lt;code&gt;&#39;Accept&#x3D;application/json&#39;&lt;/code&gt; or &lt;code&gt;&#39;Accept&#x3D;application/xml&#39;&lt;/code&gt;.&lt;/p&gt; (optional)
   * @param fileSize &lt;p&gt;Validates whether enough free space is available. Applicable only with query parameters &lt;code&gt;action&#x3D;&#39;validateUpload&#39;&lt;/code&gt; and &lt;code&gt;Accept&#x3D;&#39;application/json&#39;&lt;/code&gt; or &lt;code&gt;Accept&#x3D;&#39;application/xml&#39;&lt;/code&gt;.&lt;/p&gt; (optional)
   * @param filter &lt;p&gt;Filter the list of files.&lt;/p&gt; (optional)
   * @param recursive &lt;p&gt;Recursive param to get search result as recursive.&lt;/p&gt; (optional, default to false)
   * @return CollectionResponse
   * @throws ApiException if fails to make API call
   */
  public CollectionResponse filesListFiles(String path, Integer offset, Integer limit, String type, String orderBy, Boolean overwrite, String action, Long fileSize, String filter, Boolean recursive) throws ApiException {
    ApiResponse<CollectionResponse> localVarResponse = filesListFilesWithHttpInfo(path, offset, limit, type, orderBy, overwrite, action, fileSize, filter, recursive);
    return localVarResponse.getData();
  }

  /**
   * List or Download Files
   * &lt;p&gt;Returns a list of files, or downloads the specified file. To list files, use &lt;code&gt;Accept&#x3D;&#39;application/json&#39;&lt;/code&gt; for the Accept header. To download, use &lt;code&gt;Accept&#x3D;&#39;application/octet-stream&#39;&lt;/code&gt; for the Accept header.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path, starting with &lt;code&gt;applications&lt;/code&gt;, &lt;code&gt;shared&lt;/code&gt;, or &lt;code&gt;users&lt;/code&gt;. If listing files, this is the folder path. If downloading files, this is the file path.&lt;/p&gt;&lt;p&gt;Examples:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;code&gt;applications/sample&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;code&gt;shared&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;code&gt;users/ksmith&lt;/code&gt;&lt;/li&gt;&lt;/ul&gt; (required)
   * @param offset &lt;p&gt;Number of items to omit from the start of the result set. Default value is 0. Applicable only for listing files.&lt;/p&gt; (optional)
   * @param limit &lt;p&gt;Maximum number of files to return. Applicable only for listing files.&lt;/p&gt; (optional)
   * @param type &lt;p&gt;List files by type. If type is not specified, returns all files. Applicable only for listing files.&lt;/p&gt; (optional)
   * @param orderBy &lt;p&gt;Order By specification in format:&lt;code&gt;column&lt;/code&gt;:&lt;code&gt;direction&lt;/code&gt;. e.g.&lt;code&gt;name:asc&lt;/code&gt; &lt;/p&gt; (optional, default to )
   * @param overwrite &lt;p&gt;If true, overwrite files. If false, any existing file is validated but not overwritten. Applicable only with query parameters  &lt;code&gt;action&#x3D;validateUpload&lt;/code&gt; and &lt;code&gt;Accept&#x3D;&#39;application/json&#39;&lt;/code&gt; or &lt;code&gt;Accept&#x3D;&#39;application/xml&#39;&lt;/code&gt; . Default value is false.&lt;/p&gt; (optional, default to false)
   * @param action &lt;p&gt;Validates the upload. Supported action values are &lt;code&gt;validateUpload&lt;/code&gt; and &lt;code&gt;&#39;Accept&#x3D;application/json&#39;&lt;/code&gt; or &lt;code&gt;&#39;Accept&#x3D;application/xml&#39;&lt;/code&gt;.&lt;/p&gt; (optional)
   * @param fileSize &lt;p&gt;Validates whether enough free space is available. Applicable only with query parameters &lt;code&gt;action&#x3D;&#39;validateUpload&#39;&lt;/code&gt; and &lt;code&gt;Accept&#x3D;&#39;application/json&#39;&lt;/code&gt; or &lt;code&gt;Accept&#x3D;&#39;application/xml&#39;&lt;/code&gt;.&lt;/p&gt; (optional)
   * @param filter &lt;p&gt;Filter the list of files.&lt;/p&gt; (optional)
   * @param recursive &lt;p&gt;Recursive param to get search result as recursive.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;CollectionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CollectionResponse> filesListFilesWithHttpInfo(String path, Integer offset, Integer limit, String type, String orderBy, Boolean overwrite, String action, Long fileSize, String filter, Boolean recursive) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesListFilesRequestBuilder(path, offset, limit, type, orderBy, overwrite, action, fileSize, filter, recursive);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesListFiles", localVarResponse);
        }
        return new ApiResponse<CollectionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CollectionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesListFilesRequestBuilder(String path, Integer offset, Integer limit, String type, String orderBy, Boolean overwrite, String action, Long fileSize, String filter, Boolean recursive) throws ApiException {
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling filesListFiles");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/{path}"
        .replace("{path}", ApiClient.urlEncode(path.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "type";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));
    localVarQueryParameterBaseName = "orderBy";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("orderBy", orderBy));
    localVarQueryParameterBaseName = "overwrite";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("overwrite", overwrite));
    localVarQueryParameterBaseName = "action";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("action", action));
    localVarQueryParameterBaseName = "fileSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fileSize", fileSize));
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "recursive";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("recursive", recursive));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List Root Folders
   * &lt;p&gt;List catalog root folders.&lt;/p&gt;
   * @param filter &lt;p&gt;Filter the list of files.&lt;/p&gt; (optional)
   * @param recursive &lt;p&gt;Return search results recursively.&lt;/p&gt; (optional, default to false)
   * @return CollectionResponse
   * @throws ApiException if fails to make API call
   */
  public CollectionResponse filesListRootFolders(String filter, Boolean recursive) throws ApiException {
    ApiResponse<CollectionResponse> localVarResponse = filesListRootFoldersWithHttpInfo(filter, recursive);
    return localVarResponse.getData();
  }

  /**
   * List Root Folders
   * &lt;p&gt;List catalog root folders.&lt;/p&gt;
   * @param filter &lt;p&gt;Filter the list of files.&lt;/p&gt; (optional)
   * @param recursive &lt;p&gt;Return search results recursively.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;CollectionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CollectionResponse> filesListRootFoldersWithHttpInfo(String filter, Boolean recursive) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesListRootFoldersRequestBuilder(filter, recursive);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesListRootFolders", localVarResponse);
        }
        return new ApiResponse<CollectionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CollectionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesListRootFoldersRequestBuilder(String filter, Boolean recursive) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "recursive";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("recursive", recursive));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Move or Rename File
   * &lt;p&gt;Either moves a file from source to destination, or renames a file or folder. Moving a folder is not supported. Renaming a folder is supported only if the folder is not in the applications directory.&lt;/p&gt;
   * @param filePathDetail &lt;p&gt;File path details.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite existing file. Only applicable for moving or renaming a file.&lt;/p&gt; (optional, default to false)
   * @throws ApiException if fails to make API call
   */
  public void filesMoveResource(FilePathDetail filePathDetail, Boolean overwrite) throws ApiException {
    filesMoveResourceWithHttpInfo(filePathDetail, overwrite);
  }

  /**
   * Move or Rename File
   * &lt;p&gt;Either moves a file from source to destination, or renames a file or folder. Moving a folder is not supported. Renaming a folder is supported only if the folder is not in the applications directory.&lt;/p&gt;
   * @param filePathDetail &lt;p&gt;File path details.&lt;/p&gt; (required)
   * @param overwrite &lt;p&gt;Overwrite existing file. Only applicable for moving or renaming a file.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> filesMoveResourceWithHttpInfo(FilePathDetail filePathDetail, Boolean overwrite) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesMoveResourceRequestBuilder(filePathDetail, overwrite);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesMoveResource", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesMoveResourceRequestBuilder(FilePathDetail filePathDetail, Boolean overwrite) throws ApiException {
    // verify the required parameter 'filePathDetail' is set
    if (filePathDetail == null) {
      throw new ApiException(400, "Missing the required parameter 'filePathDetail' when calling filesMoveResource");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/actions/move";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "overwrite";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("overwrite", overwrite));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(filePathDetail);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Commit Multipart File Upload
   * &lt;p&gt;Commit the upload of one or more parts from a multipart file upload. Include the part number and corresponding ETag (entity tag) value for each part.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path of the folder to which you want to upload the file.&lt;/p&gt; (required)
   * @param uploadId &lt;p&gt;Upload ID of partial file upload initiation.&lt;/p&gt; (required)
   * @param requestBody &lt;p&gt;Request body for committing a partial file upload. Must include an array of all part numbers and corresponding Etags (entity tags). Example: &lt;code&gt;{&amp;quot;1&amp;quot;:&amp;quot;9ac601f6-cc23-437a-9a55-93d581a150e1&amp;quot;,&amp;quot;2&amp;quot;:&amp;quot;9ac601f6-cc23-437a-9a55-93d581a151e1&amp;quot;}&lt;/code&gt;&lt;/p&gt; (required)
   * @return CommitFilePartUploadResponse
   * @throws ApiException if fails to make API call
   */
  public CommitFilePartUploadResponse filesUploadCommit(String path, String uploadId, Map<String, String> requestBody) throws ApiException {
    ApiResponse<CommitFilePartUploadResponse> localVarResponse = filesUploadCommitWithHttpInfo(path, uploadId, requestBody);
    return localVarResponse.getData();
  }

  /**
   * Commit Multipart File Upload
   * &lt;p&gt;Commit the upload of one or more parts from a multipart file upload. Include the part number and corresponding ETag (entity tag) value for each part.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path of the folder to which you want to upload the file.&lt;/p&gt; (required)
   * @param uploadId &lt;p&gt;Upload ID of partial file upload initiation.&lt;/p&gt; (required)
   * @param requestBody &lt;p&gt;Request body for committing a partial file upload. Must include an array of all part numbers and corresponding Etags (entity tags). Example: &lt;code&gt;{&amp;quot;1&amp;quot;:&amp;quot;9ac601f6-cc23-437a-9a55-93d581a150e1&amp;quot;,&amp;quot;2&amp;quot;:&amp;quot;9ac601f6-cc23-437a-9a55-93d581a151e1&amp;quot;}&lt;/code&gt;&lt;/p&gt; (required)
   * @return ApiResponse&lt;CommitFilePartUploadResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CommitFilePartUploadResponse> filesUploadCommitWithHttpInfo(String path, String uploadId, Map<String, String> requestBody) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesUploadCommitRequestBuilder(path, uploadId, requestBody);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesUploadCommit", localVarResponse);
        }
        return new ApiResponse<CommitFilePartUploadResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CommitFilePartUploadResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesUploadCommitRequestBuilder(String path, String uploadId, Map<String, String> requestBody) throws ApiException {
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling filesUploadCommit");
    }
    // verify the required parameter 'uploadId' is set
    if (uploadId == null) {
      throw new ApiException(400, "Missing the required parameter 'uploadId' when calling filesUploadCommit");
    }
    // verify the required parameter 'requestBody' is set
    if (requestBody == null) {
      throw new ApiException(400, "Missing the required parameter 'requestBody' when calling filesUploadCommit");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/upload-commit/{path}"
        .replace("{path}", ApiClient.urlEncode(path.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "uploadId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("uploadId", uploadId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(requestBody);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Upload File Part
   * &lt;p&gt;Upload part of a file in a multipart file upload. You must have already initiated a multipart file upload. Provide the upload path, a part number (integer), and the unique upload ID that was returned from the Create Multipart File Upload operation.&lt;/p&gt;&lt;p&gt;Note: If multiple object parts are uploaded using the same upload ID and part number, the latest upload overwrites the previous.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path of the folder to which you want to upload the file.&lt;/p&gt; (required)
   * @param partNum &lt;p&gt;Part number for partial file upload.&lt;/p&gt; (required)
   * @param uploadId &lt;p&gt;Upload ID of partial file upload initiation.&lt;/p&gt; (required)
   * @return UploadFilePartResponse
   * @throws ApiException if fails to make API call
   */
  public UploadFilePartResponse filesUploadPart(String path, Integer partNum, String uploadId) throws ApiException {
    ApiResponse<UploadFilePartResponse> localVarResponse = filesUploadPartWithHttpInfo(path, partNum, uploadId);
    return localVarResponse.getData();
  }

  /**
   * Upload File Part
   * &lt;p&gt;Upload part of a file in a multipart file upload. You must have already initiated a multipart file upload. Provide the upload path, a part number (integer), and the unique upload ID that was returned from the Create Multipart File Upload operation.&lt;/p&gt;&lt;p&gt;Note: If multiple object parts are uploaded using the same upload ID and part number, the latest upload overwrites the previous.&lt;/p&gt;
   * @param path &lt;p&gt;Catalog path of the folder to which you want to upload the file.&lt;/p&gt; (required)
   * @param partNum &lt;p&gt;Part number for partial file upload.&lt;/p&gt; (required)
   * @param uploadId &lt;p&gt;Upload ID of partial file upload initiation.&lt;/p&gt; (required)
   * @return ApiResponse&lt;UploadFilePartResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<UploadFilePartResponse> filesUploadPartWithHttpInfo(String path, Integer partNum, String uploadId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = filesUploadPartRequestBuilder(path, partNum, uploadId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("filesUploadPart", localVarResponse);
        }
        return new ApiResponse<UploadFilePartResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<UploadFilePartResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder filesUploadPartRequestBuilder(String path, Integer partNum, String uploadId) throws ApiException {
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling filesUploadPart");
    }
    // verify the required parameter 'partNum' is set
    if (partNum == null) {
      throw new ApiException(400, "Missing the required parameter 'partNum' when calling filesUploadPart");
    }
    // verify the required parameter 'uploadId' is set
    if (uploadId == null) {
      throw new ApiException(400, "Missing the required parameter 'uploadId' when calling filesUploadPart");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/upload-part/{path}"
        .replace("{path}", ApiClient.urlEncode(path.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "partNum";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("partNum", partNum));
    localVarQueryParameterBaseName = "uploadId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("uploadId", uploadId));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param path  (optional)
   * @throws ApiException if fails to make API call
   */
  public void getObjectStoreURI(String path) throws ApiException {
    getObjectStoreURIWithHttpInfo(path);
  }

  /**
   * 
   * 
   * @param path  (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> getObjectStoreURIWithHttpInfo(String path) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getObjectStoreURIRequestBuilder(path);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getObjectStoreURI", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getObjectStoreURIRequestBuilder(String path) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/getobjectstoreuri";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "path";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("path", path));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "text/plain, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param path &lt;p&gt;Catalog path of the folder to which you want to upload the file.&lt;/p&gt; (optional, default to )
   * @throws ApiException if fails to make API call
   */
  public void getUploadConfig(String path) throws ApiException {
    getUploadConfigWithHttpInfo(path);
  }

  /**
   * 
   * 
   * @param path &lt;p&gt;Catalog path of the folder to which you want to upload the file.&lt;/p&gt; (optional, default to )
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> getUploadConfigWithHttpInfo(String path) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getUploadConfigRequestBuilder(path);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getUploadConfig", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUploadConfigRequestBuilder(String path) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/files/uploadconfig";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "path";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("path", path));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
