/*
 * Essbase REST API
 * The REST API for Oracle Essbase enables you to automate management of Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: V1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.JobRecordBean;
import com.appliedolap.essbase.client.model.JobRecordPaginatedResultWrapper;
import com.appliedolap.essbase.client.model.JobStatisticsBean;
import com.appliedolap.essbase.client.model.JobsInputBean;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class JobsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public JobsApi() {
    this(new ApiClient());
  }

  public JobsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Rerun Job
   * &lt;p&gt;Reruns the job, returning job information and new job ID.&lt;/p&gt;
   * @param id &lt;p&gt;Job ID.&lt;/p&gt; (required)
   * @return JobRecordBean
   * @throws ApiException if fails to make API call
   */
  public JobRecordBean jobsExecuteByJobId(Long id) throws ApiException {
    ApiResponse<JobRecordBean> localVarResponse = jobsExecuteByJobIdWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Rerun Job
   * &lt;p&gt;Reruns the job, returning job information and new job ID.&lt;/p&gt;
   * @param id &lt;p&gt;Job ID.&lt;/p&gt; (required)
   * @return ApiResponse&lt;JobRecordBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobRecordBean> jobsExecuteByJobIdWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsExecuteByJobIdRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsExecuteByJobId", localVarResponse);
        }
        return new ApiResponse<JobRecordBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobRecordBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsExecuteByJobIdRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling jobsExecuteByJobId");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Execute Job
   * &lt;p&gt;Executes the job and returns the record containing job information, such as job ID, status, inputs, and output information for the current job.&lt;/p&gt;
   * @param jobsInputBean &lt;p&gt;Parameter provided as json string in the request body.&lt;/p&gt; (required)
   * @return JobRecordBean
   * @throws ApiException if fails to make API call
   */
  public JobRecordBean jobsExecuteJob(JobsInputBean jobsInputBean) throws ApiException {
    ApiResponse<JobRecordBean> localVarResponse = jobsExecuteJobWithHttpInfo(jobsInputBean);
    return localVarResponse.getData();
  }

  /**
   * Execute Job
   * &lt;p&gt;Executes the job and returns the record containing job information, such as job ID, status, inputs, and output information for the current job.&lt;/p&gt;
   * @param jobsInputBean &lt;p&gt;Parameter provided as json string in the request body.&lt;/p&gt; (required)
   * @return ApiResponse&lt;JobRecordBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobRecordBean> jobsExecuteJobWithHttpInfo(JobsInputBean jobsInputBean) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsExecuteJobRequestBuilder(jobsInputBean);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsExecuteJob", localVarResponse);
        }
        return new ApiResponse<JobRecordBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobRecordBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsExecuteJobRequestBuilder(JobsInputBean jobsInputBean) throws ApiException {
    // verify the required parameter 'jobsInputBean' is set
    if (jobsInputBean == null) {
      throw new ApiException(400, "Missing the required parameter 'jobsInputBean' when calling jobsExecuteJob");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(jobsInputBean);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Job List
   * &lt;p&gt;Returns job list for the given query parameters, including job status, type, and input and output information. If no query parameter is specified, returns a list of all the jobs.&lt;/p&gt;
   * @param keyword &lt;p&gt;Filter the job records using a keyword that may be part of the job ID, application name, database name, job file name (script), or user name. If this parameter and fullAppName are both specified, fullAppName takes precedence.&lt;/p&gt; (optional, default to )
   * @param fullAppName &lt;p&gt;Application name for which to retrieve job records.&lt;/p&gt; (optional, default to )
   * @param fullDatabaseName &lt;p&gt;Database name for which to retrieve job records.&lt;/p&gt; (optional, default to )
   * @param orderBy &lt;p&gt;Order By specification. By default, jobs records are returned by job IDs in descending order.&lt;/p&gt; (optional, default to job_ID:desc)
   * @param offset &lt;p&gt;Number of jobs to omit from the start of the result set.&lt;/p&gt; (optional, default to 0)
   * @param limit &lt;p&gt;Maximum number of jobs to fetch. &lt;/p&gt; (optional, default to 50)
   * @param systemjobs &lt;p&gt;Include backup jobs in jobs records.&lt;/p&gt; (optional, default to false)
   * @param caseSensitive &lt;p&gt;Flag to determine if filters should be case-sensitive. Default: &lt;code&gt;false&lt;/code&gt;. Set to true for case-sensitive matching, false for case-insensitive matching.&lt;/p&gt; (optional, default to false)
   * @param searchBy &lt;p&gt;Defines the specific field to apply the search on. Supported fields: &lt;code&gt;job_ID&lt;/code&gt; (Job ID), &lt;code&gt;appName&lt;/code&gt; (Application Name), &lt;code&gt;dbName&lt;/code&gt; (Database Name), &lt;code&gt;jobtype&lt;/code&gt; (Job Type), &lt;code&gt;script&lt;/code&gt; (Script Name), &lt;code&gt;userName&lt;/code&gt; (User Name). Default: &lt;code&gt;ALL&lt;/code&gt;. Default behavior: If not provided, the search will be applied across all supported fields.&lt;/p&gt; (optional, default to ALL)
   * @param jobTypeSearch &lt;p&gt;Job type for which to retrieve job records. Default: &lt;code&gt;ALL&lt;/code&gt;.&lt;/p&gt; (optional, default to ALL)
   * @param jobDateFrom &lt;p&gt;Filters job records starting from this date and time (inclusive). Default: &lt;code&gt;Empty&lt;/code&gt;.&lt;/p&gt; (optional, default to )
   * @param jobDateTo &lt;p&gt;Filters job records up to this date and time (inclusive). Default: &lt;code&gt;Empty&lt;/code&gt;.&lt;/p&gt; (optional, default to )
   * @return JobRecordPaginatedResultWrapper
   * @throws ApiException if fails to make API call
   */
  public JobRecordPaginatedResultWrapper jobsGetAllJobRecords(String keyword, String fullAppName, String fullDatabaseName, String orderBy, Long offset, Long limit, Boolean systemjobs, Boolean caseSensitive, String searchBy, String jobTypeSearch, String jobDateFrom, String jobDateTo) throws ApiException {
    ApiResponse<JobRecordPaginatedResultWrapper> localVarResponse = jobsGetAllJobRecordsWithHttpInfo(keyword, fullAppName, fullDatabaseName, orderBy, offset, limit, systemjobs, caseSensitive, searchBy, jobTypeSearch, jobDateFrom, jobDateTo);
    return localVarResponse.getData();
  }

  /**
   * Get Job List
   * &lt;p&gt;Returns job list for the given query parameters, including job status, type, and input and output information. If no query parameter is specified, returns a list of all the jobs.&lt;/p&gt;
   * @param keyword &lt;p&gt;Filter the job records using a keyword that may be part of the job ID, application name, database name, job file name (script), or user name. If this parameter and fullAppName are both specified, fullAppName takes precedence.&lt;/p&gt; (optional, default to )
   * @param fullAppName &lt;p&gt;Application name for which to retrieve job records.&lt;/p&gt; (optional, default to )
   * @param fullDatabaseName &lt;p&gt;Database name for which to retrieve job records.&lt;/p&gt; (optional, default to )
   * @param orderBy &lt;p&gt;Order By specification. By default, jobs records are returned by job IDs in descending order.&lt;/p&gt; (optional, default to job_ID:desc)
   * @param offset &lt;p&gt;Number of jobs to omit from the start of the result set.&lt;/p&gt; (optional, default to 0)
   * @param limit &lt;p&gt;Maximum number of jobs to fetch. &lt;/p&gt; (optional, default to 50)
   * @param systemjobs &lt;p&gt;Include backup jobs in jobs records.&lt;/p&gt; (optional, default to false)
   * @param caseSensitive &lt;p&gt;Flag to determine if filters should be case-sensitive. Default: &lt;code&gt;false&lt;/code&gt;. Set to true for case-sensitive matching, false for case-insensitive matching.&lt;/p&gt; (optional, default to false)
   * @param searchBy &lt;p&gt;Defines the specific field to apply the search on. Supported fields: &lt;code&gt;job_ID&lt;/code&gt; (Job ID), &lt;code&gt;appName&lt;/code&gt; (Application Name), &lt;code&gt;dbName&lt;/code&gt; (Database Name), &lt;code&gt;jobtype&lt;/code&gt; (Job Type), &lt;code&gt;script&lt;/code&gt; (Script Name), &lt;code&gt;userName&lt;/code&gt; (User Name). Default: &lt;code&gt;ALL&lt;/code&gt;. Default behavior: If not provided, the search will be applied across all supported fields.&lt;/p&gt; (optional, default to ALL)
   * @param jobTypeSearch &lt;p&gt;Job type for which to retrieve job records. Default: &lt;code&gt;ALL&lt;/code&gt;.&lt;/p&gt; (optional, default to ALL)
   * @param jobDateFrom &lt;p&gt;Filters job records starting from this date and time (inclusive). Default: &lt;code&gt;Empty&lt;/code&gt;.&lt;/p&gt; (optional, default to )
   * @param jobDateTo &lt;p&gt;Filters job records up to this date and time (inclusive). Default: &lt;code&gt;Empty&lt;/code&gt;.&lt;/p&gt; (optional, default to )
   * @return ApiResponse&lt;JobRecordPaginatedResultWrapper&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobRecordPaginatedResultWrapper> jobsGetAllJobRecordsWithHttpInfo(String keyword, String fullAppName, String fullDatabaseName, String orderBy, Long offset, Long limit, Boolean systemjobs, Boolean caseSensitive, String searchBy, String jobTypeSearch, String jobDateFrom, String jobDateTo) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsGetAllJobRecordsRequestBuilder(keyword, fullAppName, fullDatabaseName, orderBy, offset, limit, systemjobs, caseSensitive, searchBy, jobTypeSearch, jobDateFrom, jobDateTo);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsGetAllJobRecords", localVarResponse);
        }
        return new ApiResponse<JobRecordPaginatedResultWrapper>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobRecordPaginatedResultWrapper>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsGetAllJobRecordsRequestBuilder(String keyword, String fullAppName, String fullDatabaseName, String orderBy, Long offset, Long limit, Boolean systemjobs, Boolean caseSensitive, String searchBy, String jobTypeSearch, String jobDateFrom, String jobDateTo) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "keyword";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("keyword", keyword));
    localVarQueryParameterBaseName = "fullAppName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fullAppName", fullAppName));
    localVarQueryParameterBaseName = "fullDatabaseName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fullDatabaseName", fullDatabaseName));
    localVarQueryParameterBaseName = "orderBy";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("orderBy", orderBy));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "systemjobs";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("systemjobs", systemjobs));
    localVarQueryParameterBaseName = "caseSensitive";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("caseSensitive", caseSensitive));
    localVarQueryParameterBaseName = "searchBy";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("searchBy", searchBy));
    localVarQueryParameterBaseName = "jobTypeSearch";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("jobTypeSearch", jobTypeSearch));
    localVarQueryParameterBaseName = "jobDateFrom";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("jobDateFrom", jobDateFrom));
    localVarQueryParameterBaseName = "jobDateTo";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("jobDateTo", jobDateTo));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Job
   * &lt;p&gt;Returns job information for given job ID, including job status, type, and input and output information.&lt;/p&gt;
   * @param id Job ID (required)
   * @return JobRecordBean
   * @throws ApiException if fails to make API call
   */
  public JobRecordBean jobsGetJobInfo(String id) throws ApiException {
    ApiResponse<JobRecordBean> localVarResponse = jobsGetJobInfoWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Get Job
   * &lt;p&gt;Returns job information for given job ID, including job status, type, and input and output information.&lt;/p&gt;
   * @param id Job ID (required)
   * @return ApiResponse&lt;JobRecordBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobRecordBean> jobsGetJobInfoWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsGetJobInfoRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsGetJobInfo", localVarResponse);
        }
        return new ApiResponse<JobRecordBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobRecordBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsGetJobInfoRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling jobsGetJobInfo");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Job Statistics
   * &lt;p&gt;Returns the job statistics for the currently logged in user, including number of jobs that are successful, number of jobs containing errors, number of jobs containing warnings, and the number of jobs running.&lt;/p&gt;
   * @param userId User Id of the logged in user (required)
   * @return JobStatisticsBean
   * @throws ApiException if fails to make API call
   */
  public JobStatisticsBean jobsGetJobStatistics(String userId) throws ApiException {
    ApiResponse<JobStatisticsBean> localVarResponse = jobsGetJobStatisticsWithHttpInfo(userId);
    return localVarResponse.getData();
  }

  /**
   * Get Job Statistics
   * &lt;p&gt;Returns the job statistics for the currently logged in user, including number of jobs that are successful, number of jobs containing errors, number of jobs containing warnings, and the number of jobs running.&lt;/p&gt;
   * @param userId User Id of the logged in user (required)
   * @return ApiResponse&lt;JobStatisticsBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobStatisticsBean> jobsGetJobStatisticsWithHttpInfo(String userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsGetJobStatisticsRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsGetJobStatistics", localVarResponse);
        }
        return new ApiResponse<JobStatisticsBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobStatisticsBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsGetJobStatisticsRequestBuilder(String userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling jobsGetJobStatistics");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs/statistics/{userId}"
        .replace("{userId}", ApiClient.urlEncode(userId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete Jobs
   * &lt;p&gt;Deletes jobs data based on query parameters.&lt;/p&gt;
   * @param olderthan &lt;p&gt;Time in milliseconds, if you want to remove jobs data older than the specified time.&lt;/p&gt; (optional)
   * @param rangeStartTime &lt;p&gt;Start Time range in milliseconds.&lt;/p&gt; (optional)
   * @param rangeEndTime &lt;p&gt;End Time range in milliseconds.&lt;/p&gt; (optional)
   * @param application &lt;p&gt;Application name.&lt;/p&gt; (optional)
   * @param database &lt;p&gt;Database name.&lt;/p&gt; (optional)
   * @param jobtype &lt;p&gt;The type of job. Examples: &lt;code&gt;dataload&lt;/code&gt;, &lt;code&gt;dimbuild&lt;/code&gt;, &lt;code&gt;calc&lt;/code&gt;, &lt;code&gt;clear&lt;/code&gt;, &lt;code&gt;importExcel&lt;/code&gt;, &lt;code&gt;exportExcel&lt;/code&gt;, &lt;code&gt;lcmExport&lt;/code&gt;, &lt;code&gt;lcmImport&lt;/code&gt;,  &lt;code&gt;clearAggregation&lt;/code&gt;, &lt;code&gt;buildAggregation&lt;/code&gt;, &lt;code&gt;asoBufferDataLoad&lt;/code&gt;, &lt;code&gt;asoBufferCommit&lt;/code&gt;, &lt;code&gt;exportData&lt;/code&gt;, &lt;code&gt;mdxScript&lt;/code&gt;.&lt;/p&gt; (optional)
   * @param jobstatus &lt;p&gt;Job Status code.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;table&gt;&lt;tr&gt;&lt;th&gt;Status code&lt;/th&gt;&lt;th&gt;Meaning&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;100&lt;/td&gt;&lt;td&gt;In progress&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;200&lt;/td&gt;&lt;td&gt;Completed&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;300&lt;/td&gt;    &lt;td&gt;Completed with warnings&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;400&lt;/td&gt;&lt;td&gt;Failed&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt; (optional)
   * @throws ApiException if fails to make API call
   */
  public void jobsPurge(Long olderthan, Long rangeStartTime, Long rangeEndTime, String application, String database, String jobtype, Integer jobstatus) throws ApiException {
    jobsPurgeWithHttpInfo(olderthan, rangeStartTime, rangeEndTime, application, database, jobtype, jobstatus);
  }

  /**
   * Delete Jobs
   * &lt;p&gt;Deletes jobs data based on query parameters.&lt;/p&gt;
   * @param olderthan &lt;p&gt;Time in milliseconds, if you want to remove jobs data older than the specified time.&lt;/p&gt; (optional)
   * @param rangeStartTime &lt;p&gt;Start Time range in milliseconds.&lt;/p&gt; (optional)
   * @param rangeEndTime &lt;p&gt;End Time range in milliseconds.&lt;/p&gt; (optional)
   * @param application &lt;p&gt;Application name.&lt;/p&gt; (optional)
   * @param database &lt;p&gt;Database name.&lt;/p&gt; (optional)
   * @param jobtype &lt;p&gt;The type of job. Examples: &lt;code&gt;dataload&lt;/code&gt;, &lt;code&gt;dimbuild&lt;/code&gt;, &lt;code&gt;calc&lt;/code&gt;, &lt;code&gt;clear&lt;/code&gt;, &lt;code&gt;importExcel&lt;/code&gt;, &lt;code&gt;exportExcel&lt;/code&gt;, &lt;code&gt;lcmExport&lt;/code&gt;, &lt;code&gt;lcmImport&lt;/code&gt;,  &lt;code&gt;clearAggregation&lt;/code&gt;, &lt;code&gt;buildAggregation&lt;/code&gt;, &lt;code&gt;asoBufferDataLoad&lt;/code&gt;, &lt;code&gt;asoBufferCommit&lt;/code&gt;, &lt;code&gt;exportData&lt;/code&gt;, &lt;code&gt;mdxScript&lt;/code&gt;.&lt;/p&gt; (optional)
   * @param jobstatus &lt;p&gt;Job Status code.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;table&gt;&lt;tr&gt;&lt;th&gt;Status code&lt;/th&gt;&lt;th&gt;Meaning&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;100&lt;/td&gt;&lt;td&gt;In progress&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;200&lt;/td&gt;&lt;td&gt;Completed&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;300&lt;/td&gt;    &lt;td&gt;Completed with warnings&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;400&lt;/td&gt;&lt;td&gt;Failed&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt; (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> jobsPurgeWithHttpInfo(Long olderthan, Long rangeStartTime, Long rangeEndTime, String application, String database, String jobtype, Integer jobstatus) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsPurgeRequestBuilder(olderthan, rangeStartTime, rangeEndTime, application, database, jobtype, jobstatus);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsPurge", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsPurgeRequestBuilder(Long olderthan, Long rangeStartTime, Long rangeEndTime, String application, String database, String jobtype, Integer jobstatus) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs/purge";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "olderthan";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("olderthan", olderthan));
    localVarQueryParameterBaseName = "rangeStartTime";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("rangeStartTime", rangeStartTime));
    localVarQueryParameterBaseName = "rangeEndTime";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("rangeEndTime", rangeEndTime));
    localVarQueryParameterBaseName = "application";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("application", application));
    localVarQueryParameterBaseName = "database";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("database", database));
    localVarQueryParameterBaseName = "jobtype";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("jobtype", jobtype));
    localVarQueryParameterBaseName = "jobstatus";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("jobstatus", jobstatus));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
