/*
 * sometitle
 * The REST API for Essbase provides an automation framework for managing Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.JobRecordBean;
import com.appliedolap.essbase.client.model.JobRecordPaginatedResultWrapper;
import com.appliedolap.essbase.client.model.JobStatisticsBean;
import com.appliedolap.essbase.client.model.JobsInputBean;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class JobsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public JobsApi() {
    this(new ApiClient());
  }

  public JobsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Rerun Job
   * Rerun the job and returns the job information with new job ID currently executing
   * @param id Job ID (required)
   * @return JobRecordBean
   * @throws ApiException if fails to make API call
   */
  public JobRecordBean jobsExecuteByJobId(Long id) throws ApiException {
    ApiResponse<JobRecordBean> localVarResponse = jobsExecuteByJobIdWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Rerun Job
   * Rerun the job and returns the job information with new job ID currently executing
   * @param id Job ID (required)
   * @return ApiResponse&lt;JobRecordBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobRecordBean> jobsExecuteByJobIdWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsExecuteByJobIdRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsExecuteByJobId", localVarResponse);
        }
        return new ApiResponse<JobRecordBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobRecordBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsExecuteByJobIdRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling jobsExecuteByJobId");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Execute Job
   * &lt;p&gt;Execute the job and return the record containing job information, such as job ID, status, inputs, and output information for the current job.&lt;/p&gt;
   * @param body parameter provided as json string in the request body (required)
   * @return JobRecordBean
   * @throws ApiException if fails to make API call
   */
  public JobRecordBean jobsExecuteJob(JobsInputBean body) throws ApiException {
    ApiResponse<JobRecordBean> localVarResponse = jobsExecuteJobWithHttpInfo(body);
    return localVarResponse.getData();
  }

  /**
   * Execute Job
   * &lt;p&gt;Execute the job and return the record containing job information, such as job ID, status, inputs, and output information for the current job.&lt;/p&gt;
   * @param body parameter provided as json string in the request body (required)
   * @return ApiResponse&lt;JobRecordBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobRecordBean> jobsExecuteJobWithHttpInfo(JobsInputBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsExecuteJobRequestBuilder(body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsExecuteJob", localVarResponse);
        }
        return new ApiResponse<JobRecordBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobRecordBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsExecuteJobRequestBuilder(JobsInputBean body) throws ApiException {
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling jobsExecuteJob");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Job List
   * Returns the list of jobs for the query parameters provided. Informations like job status, job type, job input info, job output info are returned
   * @param keyword keyword to filter job records on ID, Script, database or user (optional)
   * @param fullAppName application name for which job records to retrieved (optional)
   * @param orderBy Order By (optional, default to job_ID:desc)
   * @param offset &lt;p&gt;Number of jobs to omit from the start of the result set.&lt;/p&gt; (optional, default to 0)
   * @param limit &lt;p&gt;Maximum number of jobs to fetch. Default is 20.&lt;/p&gt; (optional, default to 50)
   * @param systemjobs &lt;p&gt;Include backup jobs in jobs records.&lt;/p&gt; (optional, default to false)
   * @return JobRecordPaginatedResultWrapper
   * @throws ApiException if fails to make API call
   */
  public JobRecordPaginatedResultWrapper jobsGetAllJobRecords(String keyword, String fullAppName, String orderBy, Long offset, Long limit, Boolean systemjobs) throws ApiException {
    ApiResponse<JobRecordPaginatedResultWrapper> localVarResponse = jobsGetAllJobRecordsWithHttpInfo(keyword, fullAppName, orderBy, offset, limit, systemjobs);
    return localVarResponse.getData();
  }

  /**
   * Get Job List
   * Returns the list of jobs for the query parameters provided. Informations like job status, job type, job input info, job output info are returned
   * @param keyword keyword to filter job records on ID, Script, database or user (optional)
   * @param fullAppName application name for which job records to retrieved (optional)
   * @param orderBy Order By (optional, default to job_ID:desc)
   * @param offset &lt;p&gt;Number of jobs to omit from the start of the result set.&lt;/p&gt; (optional, default to 0)
   * @param limit &lt;p&gt;Maximum number of jobs to fetch. Default is 20.&lt;/p&gt; (optional, default to 50)
   * @param systemjobs &lt;p&gt;Include backup jobs in jobs records.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;JobRecordPaginatedResultWrapper&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobRecordPaginatedResultWrapper> jobsGetAllJobRecordsWithHttpInfo(String keyword, String fullAppName, String orderBy, Long offset, Long limit, Boolean systemjobs) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsGetAllJobRecordsRequestBuilder(keyword, fullAppName, orderBy, offset, limit, systemjobs);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsGetAllJobRecords", localVarResponse);
        }
        return new ApiResponse<JobRecordPaginatedResultWrapper>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobRecordPaginatedResultWrapper>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsGetAllJobRecordsRequestBuilder(String keyword, String fullAppName, String orderBy, Long offset, Long limit, Boolean systemjobs) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "keyword";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("keyword", keyword));
    localVarQueryParameterBaseName = "fullAppName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fullAppName", fullAppName));
    localVarQueryParameterBaseName = "orderBy";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("orderBy", orderBy));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "systemjobs";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("systemjobs", systemjobs));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Job
   * Returns the job information for job ID passed. Informations like job status, job type, job input info, job output info are returned
   * @param id Job ID (required)
   * @return JobRecordBean
   * @throws ApiException if fails to make API call
   */
  public JobRecordBean jobsGetJobInfo(String id) throws ApiException {
    ApiResponse<JobRecordBean> localVarResponse = jobsGetJobInfoWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Get Job
   * Returns the job information for job ID passed. Informations like job status, job type, job input info, job output info are returned
   * @param id Job ID (required)
   * @return ApiResponse&lt;JobRecordBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobRecordBean> jobsGetJobInfoWithHttpInfo(String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsGetJobInfoRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsGetJobInfo", localVarResponse);
        }
        return new ApiResponse<JobRecordBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobRecordBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsGetJobInfoRequestBuilder(String id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling jobsGetJobInfo");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Job Statistics
   * Returns the jobs statistics with the userid (logged in). Informations like below &lt;p&gt;1. no of error jobs.&lt;/p&gt;&lt;p&gt;2. no of successful jobs.&lt;/p&gt;&lt;p&gt;3. no of jobs with warnings.&lt;/p&gt;&lt;p&gt;4. no of running jobs&lt;/p&gt;
   * @param userId User Id of the logged in user (required)
   * @return JobStatisticsBean
   * @throws ApiException if fails to make API call
   */
  public JobStatisticsBean jobsGetJobStatistics(String userId) throws ApiException {
    ApiResponse<JobStatisticsBean> localVarResponse = jobsGetJobStatisticsWithHttpInfo(userId);
    return localVarResponse.getData();
  }

  /**
   * Get Job Statistics
   * Returns the jobs statistics with the userid (logged in). Informations like below &lt;p&gt;1. no of error jobs.&lt;/p&gt;&lt;p&gt;2. no of successful jobs.&lt;/p&gt;&lt;p&gt;3. no of jobs with warnings.&lt;/p&gt;&lt;p&gt;4. no of running jobs&lt;/p&gt;
   * @param userId User Id of the logged in user (required)
   * @return ApiResponse&lt;JobStatisticsBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<JobStatisticsBean> jobsGetJobStatisticsWithHttpInfo(String userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = jobsGetJobStatisticsRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("jobsGetJobStatistics", localVarResponse);
        }
        return new ApiResponse<JobStatisticsBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<JobStatisticsBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder jobsGetJobStatisticsRequestBuilder(String userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling jobsGetJobStatistics");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/jobs/statistics/{userId}"
        .replace("{userId}", ApiClient.urlEncode(userId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
