/*
 * sometitle
 * The REST API for Essbase provides an automation framework for managing Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.LocationAliasBean;
import com.appliedolap.essbase.client.model.LocationAliasList;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class LocationAliasesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public LocationAliasesApi() {
    this(new ApiClient());
  }

  public LocationAliasesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create location alias
   * Creates new location alias in the given application and database
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param body Location alias details (required)
   * @throws ApiException if fails to make API call
   */
  public void locationAliasesCreate(String applicationName, String databaseName, LocationAliasBean body) throws ApiException {
    locationAliasesCreateWithHttpInfo(applicationName, databaseName, body);
  }

  /**
   * Create location alias
   * Creates new location alias in the given application and database
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param body Location alias details (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> locationAliasesCreateWithHttpInfo(String applicationName, String databaseName, LocationAliasBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = locationAliasesCreateRequestBuilder(applicationName, databaseName, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("locationAliasesCreate", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder locationAliasesCreateRequestBuilder(String applicationName, String databaseName, LocationAliasBean body) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling locationAliasesCreate");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling locationAliasesCreate");
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling locationAliasesCreate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{applicationName}/databases/{databaseName}/locationaliases"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Deletes location alias
   * Deletes the location alias with the given name from the application and database
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param aliasName Location alias name (required)
   * @throws ApiException if fails to make API call
   */
  public void locationAliasesDelete(String applicationName, String databaseName, String aliasName) throws ApiException {
    locationAliasesDeleteWithHttpInfo(applicationName, databaseName, aliasName);
  }

  /**
   * Deletes location alias
   * Deletes the location alias with the given name from the application and database
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param aliasName Location alias name (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> locationAliasesDeleteWithHttpInfo(String applicationName, String databaseName, String aliasName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = locationAliasesDeleteRequestBuilder(applicationName, databaseName, aliasName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("locationAliasesDelete", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder locationAliasesDeleteRequestBuilder(String applicationName, String databaseName, String aliasName) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling locationAliasesDelete");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling locationAliasesDelete");
    }
    // verify the required parameter 'aliasName' is set
    if (aliasName == null) {
      throw new ApiException(400, "Missing the required parameter 'aliasName' when calling locationAliasesDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{applicationName}/databases/{databaseName}/locationaliases/{aliasName}"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()))
        .replace("{aliasName}", ApiClient.urlEncode(aliasName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get location alias details
   * Returns the details of the given location alias name
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param aliasName Location alias name (required)
   * @return LocationAliasBean
   * @throws ApiException if fails to make API call
   */
  public LocationAliasBean locationAliasesGetLocationAlias(String applicationName, String databaseName, String aliasName) throws ApiException {
    ApiResponse<LocationAliasBean> localVarResponse = locationAliasesGetLocationAliasWithHttpInfo(applicationName, databaseName, aliasName);
    return localVarResponse.getData();
  }

  /**
   * Get location alias details
   * Returns the details of the given location alias name
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param aliasName Location alias name (required)
   * @return ApiResponse&lt;LocationAliasBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LocationAliasBean> locationAliasesGetLocationAliasWithHttpInfo(String applicationName, String databaseName, String aliasName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = locationAliasesGetLocationAliasRequestBuilder(applicationName, databaseName, aliasName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("locationAliasesGetLocationAlias", localVarResponse);
        }
        return new ApiResponse<LocationAliasBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LocationAliasBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder locationAliasesGetLocationAliasRequestBuilder(String applicationName, String databaseName, String aliasName) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling locationAliasesGetLocationAlias");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling locationAliasesGetLocationAlias");
    }
    // verify the required parameter 'aliasName' is set
    if (aliasName == null) {
      throw new ApiException(400, "Missing the required parameter 'aliasName' when calling locationAliasesGetLocationAlias");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{applicationName}/databases/{databaseName}/locationaliases/{aliasName}"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()))
        .replace("{aliasName}", ApiClient.urlEncode(aliasName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get location alias details
   * Get location alias details
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param offset Number of items to skip before starting to collect the result set (optional)
   * @param limit Number of location aliases to be returned (optional)
   * @param serverName Location alias target server name (optional)
   * @param applicationName2 Location alias target application name (optional)
   * @param databaseName2 Location alias target database name (optional)
   * @return LocationAliasList
   * @throws ApiException if fails to make API call
   */
  public LocationAliasList locationAliasesGetLocationAliases(String applicationName, String databaseName, Integer offset, Integer limit, String serverName, String applicationName2, String databaseName2) throws ApiException {
    ApiResponse<LocationAliasList> localVarResponse = locationAliasesGetLocationAliasesWithHttpInfo(applicationName, databaseName, offset, limit, serverName, applicationName2, databaseName2);
    return localVarResponse.getData();
  }

  /**
   * Get location alias details
   * Get location alias details
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param offset Number of items to skip before starting to collect the result set (optional)
   * @param limit Number of location aliases to be returned (optional)
   * @param serverName Location alias target server name (optional)
   * @param applicationName2 Location alias target application name (optional)
   * @param databaseName2 Location alias target database name (optional)
   * @return ApiResponse&lt;LocationAliasList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LocationAliasList> locationAliasesGetLocationAliasesWithHttpInfo(String applicationName, String databaseName, Integer offset, Integer limit, String serverName, String applicationName2, String databaseName2) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = locationAliasesGetLocationAliasesRequestBuilder(applicationName, databaseName, offset, limit, serverName, applicationName2, databaseName2);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("locationAliasesGetLocationAliases", localVarResponse);
        }
        return new ApiResponse<LocationAliasList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<LocationAliasList>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder locationAliasesGetLocationAliasesRequestBuilder(String applicationName, String databaseName, Integer offset, Integer limit, String serverName, String applicationName2, String databaseName2) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling locationAliasesGetLocationAliases");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling locationAliasesGetLocationAliases");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{applicationName}/databases/{databaseName}/locationaliases"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "serverName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("serverName", serverName));
    localVarQueryParameterBaseName = "applicationName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("applicationName", applicationName2));
    localVarQueryParameterBaseName = "databaseName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("databaseName", databaseName2));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update location alias
   * Updates location alias with new application and database. Not suupported when location alias is defined across essbase instances
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param aliasName Location alias name (required)
   * @param body Location alias details (required)
   * @throws ApiException if fails to make API call
   */
  public void locationAliasesUpdate(String applicationName, String databaseName, String aliasName, LocationAliasBean body) throws ApiException {
    locationAliasesUpdateWithHttpInfo(applicationName, databaseName, aliasName, body);
  }

  /**
   * Update location alias
   * Updates location alias with new application and database. Not suupported when location alias is defined across essbase instances
   * @param applicationName Application name (required)
   * @param databaseName Database name (required)
   * @param aliasName Location alias name (required)
   * @param body Location alias details (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> locationAliasesUpdateWithHttpInfo(String applicationName, String databaseName, String aliasName, LocationAliasBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = locationAliasesUpdateRequestBuilder(applicationName, databaseName, aliasName, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("locationAliasesUpdate", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder locationAliasesUpdateRequestBuilder(String applicationName, String databaseName, String aliasName, LocationAliasBean body) throws ApiException {
    // verify the required parameter 'applicationName' is set
    if (applicationName == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationName' when calling locationAliasesUpdate");
    }
    // verify the required parameter 'databaseName' is set
    if (databaseName == null) {
      throw new ApiException(400, "Missing the required parameter 'databaseName' when calling locationAliasesUpdate");
    }
    // verify the required parameter 'aliasName' is set
    if (aliasName == null) {
      throw new ApiException(400, "Missing the required parameter 'aliasName' when calling locationAliasesUpdate");
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling locationAliasesUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/applications/{applicationName}/databases/{databaseName}/locationaliases/{aliasName}"
        .replace("{applicationName}", ApiClient.urlEncode(applicationName.toString()))
        .replace("{databaseName}", ApiClient.urlEncode(databaseName.toString()))
        .replace("{aliasName}", ApiClient.urlEncode(aliasName.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
