/*
 * Essbase REST API
 * The REST API for Oracle Essbase enables you to automate management of Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: V1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.ExportOptions;
import com.appliedolap.essbase.client.model.MemberBean;
import com.appliedolap.essbase.client.model.RestCollectionResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class OutlineViewerApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public OutlineViewerApi() {
    this(new ApiClient());
  }

  public OutlineViewerApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get Text Lists
   * &lt;p&gt;Returns all text lists associated with the database outline.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (required)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (required)
   * @param accept  (optional, default to application/json)
   * @throws ApiException if fails to make API call
   */
  public void outlineGetAllSmartList(String app, String cube, String connection, String applicationNameForConnection, String accept) throws ApiException {
    outlineGetAllSmartListWithHttpInfo(app, cube, connection, applicationNameForConnection, accept);
  }

  /**
   * Get Text Lists
   * &lt;p&gt;Returns all text lists associated with the database outline.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (required)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (required)
   * @param accept  (optional, default to application/json)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> outlineGetAllSmartListWithHttpInfo(String app, String cube, String connection, String applicationNameForConnection, String accept) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = outlineGetAllSmartListRequestBuilder(app, cube, connection, applicationNameForConnection, accept);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("outlineGetAllSmartList", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder outlineGetAllSmartListRequestBuilder(String app, String cube, String connection, String applicationNameForConnection, String accept) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling outlineGetAllSmartList");
    }
    // verify the required parameter 'cube' is set
    if (cube == null) {
      throw new ApiException(400, "Missing the required parameter 'cube' when calling outlineGetAllSmartList");
    }
    // verify the required parameter 'connection' is set
    if (connection == null) {
      throw new ApiException(400, "Missing the required parameter 'connection' when calling outlineGetAllSmartList");
    }
    // verify the required parameter 'applicationNameForConnection' is set
    if (applicationNameForConnection == null) {
      throw new ApiException(400, "Missing the required parameter 'applicationNameForConnection' when calling outlineGetAllSmartList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/outline/{app}/{cube}/settings/smartlist"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{cube}", ApiClient.urlEncode(cube.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "connection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connection", connection));
    localVarQueryParameterBaseName = "applicationNameForConnection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("applicationNameForConnection", applicationNameForConnection));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (accept != null) {
      localVarRequestBuilder.header("accept", accept.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Member Ancestors
   * &lt;p&gt;Returns all ancestors of the requested member.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param memberUniqueName &lt;p&gt;Unique member name (fully qualified name).&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @param fields &lt;p&gt;Comma-separated list of member properties to fetch.&lt;/p&gt; (optional)
   * @return MemberBean
   * @throws ApiException if fails to make API call
   */
  public MemberBean outlineGetAncestorsMemberInfo(String app, String cube, String memberUniqueName, String connection, String applicationNameForConnection, String fields) throws ApiException {
    ApiResponse<MemberBean> localVarResponse = outlineGetAncestorsMemberInfoWithHttpInfo(app, cube, memberUniqueName, connection, applicationNameForConnection, fields);
    return localVarResponse.getData();
  }

  /**
   * Get Member Ancestors
   * &lt;p&gt;Returns all ancestors of the requested member.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param memberUniqueName &lt;p&gt;Unique member name (fully qualified name).&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @param fields &lt;p&gt;Comma-separated list of member properties to fetch.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;MemberBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<MemberBean> outlineGetAncestorsMemberInfoWithHttpInfo(String app, String cube, String memberUniqueName, String connection, String applicationNameForConnection, String fields) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = outlineGetAncestorsMemberInfoRequestBuilder(app, cube, memberUniqueName, connection, applicationNameForConnection, fields);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("outlineGetAncestorsMemberInfo", localVarResponse);
        }
        return new ApiResponse<MemberBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder outlineGetAncestorsMemberInfoRequestBuilder(String app, String cube, String memberUniqueName, String connection, String applicationNameForConnection, String fields) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling outlineGetAncestorsMemberInfo");
    }
    // verify the required parameter 'cube' is set
    if (cube == null) {
      throw new ApiException(400, "Missing the required parameter 'cube' when calling outlineGetAncestorsMemberInfo");
    }
    // verify the required parameter 'memberUniqueName' is set
    if (memberUniqueName == null) {
      throw new ApiException(400, "Missing the required parameter 'memberUniqueName' when calling outlineGetAncestorsMemberInfo");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/outline/{app}/{cube}/ancestors/{memberUniqueName}"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{cube}", ApiClient.urlEncode(cube.toString()))
        .replace("{memberUniqueName}", ApiClient.urlEncode(memberUniqueName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "connection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connection", connection));
    localVarQueryParameterBaseName = "applicationNameForConnection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("applicationNameForConnection", applicationNameForConnection));
    localVarQueryParameterBaseName = "fields";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fields", fields));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Descendants Count
   * &lt;p&gt;Returns descendants count for the requested member.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param memberUniqueName &lt;p&gt;Unique member name (fully qualified name).&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @return Integer
   * @throws ApiException if fails to make API call
   */
  public Integer outlineGetDescendantsCount(String app, String cube, String memberUniqueName, String connection, String applicationNameForConnection) throws ApiException {
    ApiResponse<Integer> localVarResponse = outlineGetDescendantsCountWithHttpInfo(app, cube, memberUniqueName, connection, applicationNameForConnection);
    return localVarResponse.getData();
  }

  /**
   * Get Descendants Count
   * &lt;p&gt;Returns descendants count for the requested member.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param memberUniqueName &lt;p&gt;Unique member name (fully qualified name).&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;Integer&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Integer> outlineGetDescendantsCountWithHttpInfo(String app, String cube, String memberUniqueName, String connection, String applicationNameForConnection) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = outlineGetDescendantsCountRequestBuilder(app, cube, memberUniqueName, connection, applicationNameForConnection);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("outlineGetDescendantsCount", localVarResponse);
        }
        return new ApiResponse<Integer>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Integer>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder outlineGetDescendantsCountRequestBuilder(String app, String cube, String memberUniqueName, String connection, String applicationNameForConnection) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling outlineGetDescendantsCount");
    }
    // verify the required parameter 'cube' is set
    if (cube == null) {
      throw new ApiException(400, "Missing the required parameter 'cube' when calling outlineGetDescendantsCount");
    }
    // verify the required parameter 'memberUniqueName' is set
    if (memberUniqueName == null) {
      throw new ApiException(400, "Missing the required parameter 'memberUniqueName' when calling outlineGetDescendantsCount");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/outline/{app}/{cube}/descendantsCount/{memberUniqueName}"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{cube}", ApiClient.urlEncode(cube.toString()))
        .replace("{memberUniqueName}", ApiClient.urlEncode(memberUniqueName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "connection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connection", connection));
    localVarQueryParameterBaseName = "applicationNameForConnection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("applicationNameForConnection", applicationNameForConnection));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "text/plain");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Member Info
   * &lt;p&gt;Returns either all member properties, or requested member properties.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param memberUniqueName &lt;p&gt;Unique member name (fully qualified name). Can be a member name, a member ID, or an alias. If the member name is non unique (in a duplicate member enabled outline), use a fully qualified member name or use the member ID.&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @param fields &lt;p&gt;Comma-separated list of member properties to fetch.&lt;/p&gt; (optional)
   * @return MemberBean
   * @throws ApiException if fails to make API call
   */
  public MemberBean outlineGetMemberInfo(String app, String cube, String memberUniqueName, String connection, String applicationNameForConnection, String fields) throws ApiException {
    ApiResponse<MemberBean> localVarResponse = outlineGetMemberInfoWithHttpInfo(app, cube, memberUniqueName, connection, applicationNameForConnection, fields);
    return localVarResponse.getData();
  }

  /**
   * Get Member Info
   * &lt;p&gt;Returns either all member properties, or requested member properties.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param memberUniqueName &lt;p&gt;Unique member name (fully qualified name). Can be a member name, a member ID, or an alias. If the member name is non unique (in a duplicate member enabled outline), use a fully qualified member name or use the member ID.&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @param fields &lt;p&gt;Comma-separated list of member properties to fetch.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;MemberBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<MemberBean> outlineGetMemberInfoWithHttpInfo(String app, String cube, String memberUniqueName, String connection, String applicationNameForConnection, String fields) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = outlineGetMemberInfoRequestBuilder(app, cube, memberUniqueName, connection, applicationNameForConnection, fields);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("outlineGetMemberInfo", localVarResponse);
        }
        return new ApiResponse<MemberBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder outlineGetMemberInfoRequestBuilder(String app, String cube, String memberUniqueName, String connection, String applicationNameForConnection, String fields) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling outlineGetMemberInfo");
    }
    // verify the required parameter 'cube' is set
    if (cube == null) {
      throw new ApiException(400, "Missing the required parameter 'cube' when calling outlineGetMemberInfo");
    }
    // verify the required parameter 'memberUniqueName' is set
    if (memberUniqueName == null) {
      throw new ApiException(400, "Missing the required parameter 'memberUniqueName' when calling outlineGetMemberInfo");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/outline/{app}/{cube}/{memberUniqueName}"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{cube}", ApiClient.urlEncode(cube.toString()))
        .replace("{memberUniqueName}", ApiClient.urlEncode(memberUniqueName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "connection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connection", connection));
    localVarQueryParameterBaseName = "applicationNameForConnection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("applicationNameForConnection", applicationNameForConnection));
    localVarQueryParameterBaseName = "fields";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fields", fields));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Dimensions, Children, or Search
   * &lt;p&gt;Returns a list of dimensions when no parameters are provided. Returns a list of child members when &lt;i&gt;parent&lt;/i&gt; or &lt;i&gt;parentUniqueName&lt;/i&gt; parameters are provided. Returns search results when a search keyword parameter is used.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @param keyword &lt;p&gt;Keyword to search for member.&lt;/p&gt; (optional)
   * @param matchWholeWord &lt;p&gt;Match member name with keyword.&lt;/p&gt; (optional, default to false)
   * @param parent &lt;p&gt;Parent name.&lt;/p&gt; (optional)
   * @param parentUniqueName &lt;p&gt;Parent unique name (fully qualified).&lt;/p&gt; (optional)
   * @param isMbrId &lt;p&gt;Parent ID.&lt;/p&gt; (optional)
   * @param fields &lt;p&gt;Comma-separated list of member properties to fetch.&lt;/p&gt; (optional)
   * @param offset &lt;p&gt;Number of members to omit from the start of the result set.&lt;/p&gt; (optional, default to 0)
   * @param limit &lt;p&gt;Maximum number of members to return.&lt;/p&gt; (optional, default to 50)
   * @return RestCollectionResponse
   * @throws ApiException if fails to make API call
   */
  public RestCollectionResponse outlineGetMembers(String app, String cube, String connection, String applicationNameForConnection, String keyword, Boolean matchWholeWord, String parent, String parentUniqueName, String isMbrId, String fields, Integer offset, Integer limit) throws ApiException {
    ApiResponse<RestCollectionResponse> localVarResponse = outlineGetMembersWithHttpInfo(app, cube, connection, applicationNameForConnection, keyword, matchWholeWord, parent, parentUniqueName, isMbrId, fields, offset, limit);
    return localVarResponse.getData();
  }

  /**
   * Get Dimensions, Children, or Search
   * &lt;p&gt;Returns a list of dimensions when no parameters are provided. Returns a list of child members when &lt;i&gt;parent&lt;/i&gt; or &lt;i&gt;parentUniqueName&lt;/i&gt; parameters are provided. Returns search results when a search keyword parameter is used.&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @param keyword &lt;p&gt;Keyword to search for member.&lt;/p&gt; (optional)
   * @param matchWholeWord &lt;p&gt;Match member name with keyword.&lt;/p&gt; (optional, default to false)
   * @param parent &lt;p&gt;Parent name.&lt;/p&gt; (optional)
   * @param parentUniqueName &lt;p&gt;Parent unique name (fully qualified).&lt;/p&gt; (optional)
   * @param isMbrId &lt;p&gt;Parent ID.&lt;/p&gt; (optional)
   * @param fields &lt;p&gt;Comma-separated list of member properties to fetch.&lt;/p&gt; (optional)
   * @param offset &lt;p&gt;Number of members to omit from the start of the result set.&lt;/p&gt; (optional, default to 0)
   * @param limit &lt;p&gt;Maximum number of members to return.&lt;/p&gt; (optional, default to 50)
   * @return ApiResponse&lt;RestCollectionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<RestCollectionResponse> outlineGetMembersWithHttpInfo(String app, String cube, String connection, String applicationNameForConnection, String keyword, Boolean matchWholeWord, String parent, String parentUniqueName, String isMbrId, String fields, Integer offset, Integer limit) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = outlineGetMembersRequestBuilder(app, cube, connection, applicationNameForConnection, keyword, matchWholeWord, parent, parentUniqueName, isMbrId, fields, offset, limit);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("outlineGetMembers", localVarResponse);
        }
        return new ApiResponse<RestCollectionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<RestCollectionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder outlineGetMembersRequestBuilder(String app, String cube, String connection, String applicationNameForConnection, String keyword, Boolean matchWholeWord, String parent, String parentUniqueName, String isMbrId, String fields, Integer offset, Integer limit) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling outlineGetMembers");
    }
    // verify the required parameter 'cube' is set
    if (cube == null) {
      throw new ApiException(400, "Missing the required parameter 'cube' when calling outlineGetMembers");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/outline/{app}/{cube}"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{cube}", ApiClient.urlEncode(cube.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "connection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connection", connection));
    localVarQueryParameterBaseName = "applicationNameForConnection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("applicationNameForConnection", applicationNameForConnection));
    localVarQueryParameterBaseName = "keyword";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("keyword", keyword));
    localVarQueryParameterBaseName = "matchWholeWord";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("matchWholeWord", matchWholeWord));
    localVarQueryParameterBaseName = "parent";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("parent", parent));
    localVarQueryParameterBaseName = "parentUniqueName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("parentUniqueName", parentUniqueName));
    localVarQueryParameterBaseName = "isMbrId";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("isMbrId", isMbrId));
    localVarQueryParameterBaseName = "fields";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("fields", fields));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Export Outline to XML
   * &lt;p&gt;Exports the outline to XML. If tree is true, then aliasTable will be ignored. Tree mode exports only member names. If aliasTable is provided, then only alias values of the members for the specified alias table will be exported.&lt;/p&gt;
   * @param app  (required)
   * @param cube  (required)
   * @param connectionName  (optional)
   * @param connectionApplicationName  (optional)
   * @param exportOptions  (optional)
   * @throws ApiException if fails to make API call
   */
  public void outlineGetOutlineXML(String app, String cube, String connectionName, String connectionApplicationName, ExportOptions exportOptions) throws ApiException {
    outlineGetOutlineXMLWithHttpInfo(app, cube, connectionName, connectionApplicationName, exportOptions);
  }

  /**
   * Export Outline to XML
   * &lt;p&gt;Exports the outline to XML. If tree is true, then aliasTable will be ignored. Tree mode exports only member names. If aliasTable is provided, then only alias values of the members for the specified alias table will be exported.&lt;/p&gt;
   * @param app  (required)
   * @param cube  (required)
   * @param connectionName  (optional)
   * @param connectionApplicationName  (optional)
   * @param exportOptions  (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> outlineGetOutlineXMLWithHttpInfo(String app, String cube, String connectionName, String connectionApplicationName, ExportOptions exportOptions) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = outlineGetOutlineXMLRequestBuilder(app, cube, connectionName, connectionApplicationName, exportOptions);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("outlineGetOutlineXML", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder outlineGetOutlineXMLRequestBuilder(String app, String cube, String connectionName, String connectionApplicationName, ExportOptions exportOptions) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling outlineGetOutlineXML");
    }
    // verify the required parameter 'cube' is set
    if (cube == null) {
      throw new ApiException(400, "Missing the required parameter 'cube' when calling outlineGetOutlineXML");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/outline/{app}/{cube}/xml"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{cube}", ApiClient.urlEncode(cube.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "connectionName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connectionName", connectionName));
    localVarQueryParameterBaseName = "connectionApplicationName";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connectionApplicationName", connectionApplicationName));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/octet-stream");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(exportOptions);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Pivot dimension
   * &lt;p&gt;Get Pivot dimension details&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String outlineGetPivotDimension(String app, String cube, String connection, String applicationNameForConnection) throws ApiException {
    ApiResponse<String> localVarResponse = outlineGetPivotDimensionWithHttpInfo(app, cube, connection, applicationNameForConnection);
    return localVarResponse.getData();
  }

  /**
   * Get Pivot dimension
   * &lt;p&gt;Get Pivot dimension details&lt;/p&gt;
   * @param app &lt;p&gt;Application name.&lt;/p&gt; (required)
   * @param cube &lt;p&gt;Database name.&lt;/p&gt; (required)
   * @param connection &lt;p&gt;Essbase connection name.&lt;/p&gt; (optional)
   * @param applicationNameForConnection &lt;p&gt;Application name for connection.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;String&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<String> outlineGetPivotDimensionWithHttpInfo(String app, String cube, String connection, String applicationNameForConnection) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = outlineGetPivotDimensionRequestBuilder(app, cube, connection, applicationNameForConnection);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("outlineGetPivotDimension", localVarResponse);
        }
        return new ApiResponse<String>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<String>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder outlineGetPivotDimensionRequestBuilder(String app, String cube, String connection, String applicationNameForConnection) throws ApiException {
    // verify the required parameter 'app' is set
    if (app == null) {
      throw new ApiException(400, "Missing the required parameter 'app' when calling outlineGetPivotDimension");
    }
    // verify the required parameter 'cube' is set
    if (cube == null) {
      throw new ApiException(400, "Missing the required parameter 'cube' when calling outlineGetPivotDimension");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/outline/{app}/{cube}/pivotDimension"
        .replace("{app}", ApiClient.urlEncode(app.toString()))
        .replace("{cube}", ApiClient.urlEncode(cube.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "connection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connection", connection));
    localVarQueryParameterBaseName = "applicationNameForConnection";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("applicationNameForConnection", applicationNameForConnection));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
