/*
 * sometitle
 * The REST API for Essbase provides an automation framework for managing Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.ApproverBean;
import com.appliedolap.essbase.client.model.ApproverListResponse;
import com.appliedolap.essbase.client.model.CommentBean;
import com.appliedolap.essbase.client.model.CommentListResponse;
import com.appliedolap.essbase.client.model.ParticipantBean;
import com.appliedolap.essbase.client.model.ParticipantListResponse;
import com.appliedolap.essbase.client.model.ScenarioActionPayload;
import com.appliedolap.essbase.client.model.ScenarioBean;
import com.appliedolap.essbase.client.model.ScenarioChangesListResponse;
import com.appliedolap.essbase.client.model.ScenarioCollectionResponse;
import com.appliedolap.essbase.client.model.ScenarioCubesList;
import com.appliedolap.essbase.client.model.ScenarioEditBean;
import com.appliedolap.essbase.client.model.ScriptBean;
import com.appliedolap.essbase.client.model.ScriptListResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class ScenariosApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ScenariosApi() {
    this(new ApiClient());
  }

  public ScenariosApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Add Approver
   * &lt;p&gt;Add a scenario approver. Approvers are optional, and must have Database Access or higher role. They monitor and approve or reject scenarios. If a scenario has multiple approvers, each one must approve before it can be submitted.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param body Approver details. (optional)
   * @throws ApiException if fails to make API call
   */
  public void scenariosAddApprover(Long scenarioId, ApproverBean body) throws ApiException {
    scenariosAddApproverWithHttpInfo(scenarioId, body);
  }

  /**
   * Add Approver
   * &lt;p&gt;Add a scenario approver. Approvers are optional, and must have Database Access or higher role. They monitor and approve or reject scenarios. If a scenario has multiple approvers, each one must approve before it can be submitted.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param body Approver details. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> scenariosAddApproverWithHttpInfo(Long scenarioId, ApproverBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosAddApproverRequestBuilder(scenarioId, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosAddApprover", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosAddApproverRequestBuilder(Long scenarioId, ApproverBean body) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosAddApprover");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/approvers"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Add Comment
   * &lt;p&gt;Add a comment to the specified scenario ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param body Comment details. (optional)
   * @return CommentBean
   * @throws ApiException if fails to make API call
   */
  public CommentBean scenariosAddComment(Long scenarioId, CommentBean body) throws ApiException {
    ApiResponse<CommentBean> localVarResponse = scenariosAddCommentWithHttpInfo(scenarioId, body);
    return localVarResponse.getData();
  }

  /**
   * Add Comment
   * &lt;p&gt;Add a comment to the specified scenario ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param body Comment details. (optional)
   * @return ApiResponse&lt;CommentBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CommentBean> scenariosAddCommentWithHttpInfo(Long scenarioId, CommentBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosAddCommentRequestBuilder(scenarioId, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosAddComment", localVarResponse);
        }
        return new ApiResponse<CommentBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CommentBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosAddCommentRequestBuilder(Long scenarioId, CommentBean body) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosAddComment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/comments"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Add Participant
   * &lt;p&gt;Add scenario participant to the specified scenario ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param body Participant details. (optional)
   * @throws ApiException if fails to make API call
   */
  public void scenariosAddParticipant(Long scenarioId, ParticipantBean body) throws ApiException {
    scenariosAddParticipantWithHttpInfo(scenarioId, body);
  }

  /**
   * Add Participant
   * &lt;p&gt;Add scenario participant to the specified scenario ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param body Participant details. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> scenariosAddParticipantWithHttpInfo(Long scenarioId, ParticipantBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosAddParticipantRequestBuilder(scenarioId, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosAddParticipant", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosAddParticipantRequestBuilder(Long scenarioId, ParticipantBean body) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosAddParticipant");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/participants"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Create Scenario
   * &lt;p&gt;Creates a new scenario. A scenario is a private work area in which you can model different assumptions within the data without affecting the existing data.&lt;/p&gt;
   * @param body &lt;p&gt;Scenario details.&lt;/p&gt; (optional)
   * @return ScenarioBean
   * @throws ApiException if fails to make API call
   */
  public ScenarioBean scenariosCreate(ScenarioBean body) throws ApiException {
    ApiResponse<ScenarioBean> localVarResponse = scenariosCreateWithHttpInfo(body);
    return localVarResponse.getData();
  }

  /**
   * Create Scenario
   * &lt;p&gt;Creates a new scenario. A scenario is a private work area in which you can model different assumptions within the data without affecting the existing data.&lt;/p&gt;
   * @param body &lt;p&gt;Scenario details.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;ScenarioBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioBean> scenariosCreateWithHttpInfo(ScenarioBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosCreateRequestBuilder(body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosCreate", localVarResponse);
        }
        return new ApiResponse<ScenarioBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ScenarioBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosCreateRequestBuilder(ScenarioBean body) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete a scenario by ID.
   * Delete a scenario by ID.
   * @param id Scenario ID. (required)
   * @throws ApiException if fails to make API call
   */
  public void scenariosDelete(Long id) throws ApiException {
    scenariosDeleteWithHttpInfo(id);
  }

  /**
   * Delete a scenario by ID.
   * Delete a scenario by ID.
   * @param id Scenario ID. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> scenariosDeleteWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosDeleteRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosDelete", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosDeleteRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling scenariosDelete");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete Approver
   * &lt;p&gt;Deletes a scenario approver.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param userId Approver ID. (required)
   * @throws ApiException if fails to make API call
   */
  public void scenariosDeleteApprover(Long scenarioId, String userId) throws ApiException {
    scenariosDeleteApproverWithHttpInfo(scenarioId, userId);
  }

  /**
   * Delete Approver
   * &lt;p&gt;Deletes a scenario approver.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param userId Approver ID. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> scenariosDeleteApproverWithHttpInfo(Long scenarioId, String userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosDeleteApproverRequestBuilder(scenarioId, userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosDeleteApprover", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosDeleteApproverRequestBuilder(Long scenarioId, String userId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosDeleteApprover");
    }
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling scenariosDeleteApprover");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/approvers/{userId}"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()))
        .replace("{userId}", ApiClient.urlEncode(userId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete Comment
   * &lt;p&gt;Delete a scenario comment by ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param commentId Comment ID. (required)
   * @throws ApiException if fails to make API call
   */
  public void scenariosDeleteComment(Long scenarioId, Long commentId) throws ApiException {
    scenariosDeleteCommentWithHttpInfo(scenarioId, commentId);
  }

  /**
   * Delete Comment
   * &lt;p&gt;Delete a scenario comment by ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param commentId Comment ID. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> scenariosDeleteCommentWithHttpInfo(Long scenarioId, Long commentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosDeleteCommentRequestBuilder(scenarioId, commentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosDeleteComment", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosDeleteCommentRequestBuilder(Long scenarioId, Long commentId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosDeleteComment");
    }
    // verify the required parameter 'commentId' is set
    if (commentId == null) {
      throw new ApiException(400, "Missing the required parameter 'commentId' when calling scenariosDeleteComment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/comments/{commentId}"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()))
        .replace("{commentId}", ApiClient.urlEncode(commentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete Participant
   * &lt;p&gt;Deletes a scenario participant.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param userId Participant ID. (required)
   * @throws ApiException if fails to make API call
   */
  public void scenariosDeleteParticipant(Long scenarioId, String userId) throws ApiException {
    scenariosDeleteParticipantWithHttpInfo(scenarioId, userId);
  }

  /**
   * Delete Participant
   * &lt;p&gt;Deletes a scenario participant.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param userId Participant ID. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> scenariosDeleteParticipantWithHttpInfo(Long scenarioId, String userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosDeleteParticipantRequestBuilder(scenarioId, userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosDeleteParticipant", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosDeleteParticipantRequestBuilder(Long scenarioId, String userId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosDeleteParticipant");
    }
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling scenariosDeleteParticipant");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/participants/{userId}"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()))
        .replace("{userId}", ApiClient.urlEncode(userId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Scenario
   * Gets a scenario by ID.
   * @param id Scenario ID. (required)
   * @param expand &lt;p&gt;Value can be &lt;code&gt;all&lt;/code&gt; or &lt;code&gt;none&lt;/code&gt;. Default value is &lt;code&gt;none&lt;/code&gt;, meaning only links are returned. If &lt;code&gt;all&lt;/code&gt; is specified, then approvers, participants and scripts are included in the response.&lt;/p&gt; (optional)
   * @return ScenarioBean
   * @throws ApiException if fails to make API call
   */
  public ScenarioBean scenariosGet(Long id, String expand) throws ApiException {
    ApiResponse<ScenarioBean> localVarResponse = scenariosGetWithHttpInfo(id, expand);
    return localVarResponse.getData();
  }

  /**
   * Get Scenario
   * Gets a scenario by ID.
   * @param id Scenario ID. (required)
   * @param expand &lt;p&gt;Value can be &lt;code&gt;all&lt;/code&gt; or &lt;code&gt;none&lt;/code&gt;. Default value is &lt;code&gt;none&lt;/code&gt;, meaning only links are returned. If &lt;code&gt;all&lt;/code&gt; is specified, then approvers, participants and scripts are included in the response.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;ScenarioBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioBean> scenariosGetWithHttpInfo(Long id, String expand) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosGetRequestBuilder(id, expand);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosGet", localVarResponse);
        }
        return new ApiResponse<ScenarioBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ScenarioBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosGetRequestBuilder(Long id, String expand) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling scenariosGet");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "expand";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("expand", expand));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Approvers
   * &lt;p&gt;Get scenario approvers.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @return ApproverListResponse
   * @throws ApiException if fails to make API call
   */
  public ApproverListResponse scenariosGetApprovers(Long scenarioId) throws ApiException {
    ApiResponse<ApproverListResponse> localVarResponse = scenariosGetApproversWithHttpInfo(scenarioId);
    return localVarResponse.getData();
  }

  /**
   * Get Approvers
   * &lt;p&gt;Get scenario approvers.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @return ApiResponse&lt;ApproverListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ApproverListResponse> scenariosGetApproversWithHttpInfo(Long scenarioId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosGetApproversRequestBuilder(scenarioId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosGetApprovers", localVarResponse);
        }
        return new ApiResponse<ApproverListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ApproverListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosGetApproversRequestBuilder(Long scenarioId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosGetApprovers");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/approvers"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Changes
   * &lt;p&gt;Get scenario data changes. If you are the owner, approver, or participant for a given scenario, you can compare scenario and base models.&lt;/p&gt;
   * @param id Scenario ID. (required)
   * @return ScenarioChangesListResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioChangesListResponse scenariosGetChangeData(Long id) throws ApiException {
    ApiResponse<ScenarioChangesListResponse> localVarResponse = scenariosGetChangeDataWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Get Changes
   * &lt;p&gt;Get scenario data changes. If you are the owner, approver, or participant for a given scenario, you can compare scenario and base models.&lt;/p&gt;
   * @param id Scenario ID. (required)
   * @return ApiResponse&lt;ScenarioChangesListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioChangesListResponse> scenariosGetChangeDataWithHttpInfo(Long id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosGetChangeDataRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosGetChangeData", localVarResponse);
        }
        return new ApiResponse<ScenarioChangesListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ScenarioChangesListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosGetChangeDataRequestBuilder(Long id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling scenariosGetChangeData");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{id}/changes"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Comment
   * &lt;p&gt;Get a scenario comment by ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param commentId Comment ID. (required)
   * @return CommentBean
   * @throws ApiException if fails to make API call
   */
  public CommentBean scenariosGetComment(Long scenarioId, Long commentId) throws ApiException {
    ApiResponse<CommentBean> localVarResponse = scenariosGetCommentWithHttpInfo(scenarioId, commentId);
    return localVarResponse.getData();
  }

  /**
   * Get Comment
   * &lt;p&gt;Get a scenario comment by ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param commentId Comment ID. (required)
   * @return ApiResponse&lt;CommentBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CommentBean> scenariosGetCommentWithHttpInfo(Long scenarioId, Long commentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosGetCommentRequestBuilder(scenarioId, commentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosGetComment", localVarResponse);
        }
        return new ApiResponse<CommentBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CommentBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosGetCommentRequestBuilder(Long scenarioId, Long commentId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosGetComment");
    }
    // verify the required parameter 'commentId' is set
    if (commentId == null) {
      throw new ApiException(400, "Missing the required parameter 'commentId' when calling scenariosGetComment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/comments/{commentId}"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()))
        .replace("{commentId}", ApiClient.urlEncode(commentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Comments
   * &lt;p&gt;Get comments for the specified scenario ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @return CommentListResponse
   * @throws ApiException if fails to make API call
   */
  public CommentListResponse scenariosGetComments(Long scenarioId) throws ApiException {
    ApiResponse<CommentListResponse> localVarResponse = scenariosGetCommentsWithHttpInfo(scenarioId);
    return localVarResponse.getData();
  }

  /**
   * Get Comments
   * &lt;p&gt;Get comments for the specified scenario ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @return ApiResponse&lt;CommentListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CommentListResponse> scenariosGetCommentsWithHttpInfo(Long scenarioId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosGetCommentsRequestBuilder(scenarioId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosGetComments", localVarResponse);
        }
        return new ApiResponse<CommentListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<CommentListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosGetCommentsRequestBuilder(Long scenarioId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosGetComments");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/comments"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Participants
   * &lt;p&gt;Get scenario participants by scenario ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @return ParticipantListResponse
   * @throws ApiException if fails to make API call
   */
  public ParticipantListResponse scenariosGetParticipants(Long scenarioId) throws ApiException {
    ApiResponse<ParticipantListResponse> localVarResponse = scenariosGetParticipantsWithHttpInfo(scenarioId);
    return localVarResponse.getData();
  }

  /**
   * Get Participants
   * &lt;p&gt;Get scenario participants by scenario ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @return ApiResponse&lt;ParticipantListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ParticipantListResponse> scenariosGetParticipantsWithHttpInfo(Long scenarioId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosGetParticipantsRequestBuilder(scenarioId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosGetParticipants", localVarResponse);
        }
        return new ApiResponse<ParticipantListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ParticipantListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosGetParticipantsRequestBuilder(Long scenarioId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosGetParticipants");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/participants"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Scenario-Enabled Cubes
   * &lt;p&gt;Get information about all the databases registered for scenario management.&lt;/p&gt;
   * @return ScenarioCubesList
   * @throws ApiException if fails to make API call
   */
  public ScenarioCubesList scenariosGetRegisteredCubes() throws ApiException {
    ApiResponse<ScenarioCubesList> localVarResponse = scenariosGetRegisteredCubesWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Get Scenario-Enabled Cubes
   * &lt;p&gt;Get information about all the databases registered for scenario management.&lt;/p&gt;
   * @return ApiResponse&lt;ScenarioCubesList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioCubesList> scenariosGetRegisteredCubesWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosGetRegisteredCubesRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosGetRegisteredCubes", localVarResponse);
        }
        return new ApiResponse<ScenarioCubesList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ScenarioCubesList>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosGetRegisteredCubesRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/databases";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Scenarios
   * &lt;p&gt;Get scenarios matching search criteria. Response includes links to all basic scenario attributes, excluding approvers, participants, comments, and scripts.&lt;/p&gt;
   * @param filter &lt;p&gt;Scenario name wildcard pattern.&lt;/p&gt; (optional)
   * @param role &lt;p&gt;Optional user role by which to filter the scenario list. Value can be &lt;code&gt;owner&lt;/code&gt;, &lt;code&gt;participant&lt;/code&gt;, or &lt;code&gt;approver&lt;/code&gt;. If role is specified as &lt;code&gt;approver&lt;/code&gt;, this API returns all scenarios for which the logged in user is the approver. By default, all scenarios are returned for which the logged in user is either an owner, a participant, or an approver.&lt;/p&gt; (optional)
   * @param overdue &lt;p&gt;If true, returns all scenarios past the due date. Default is false, meaning all scenarios are returned.&lt;/p&gt; (optional)
   * @param state &lt;p&gt;Scenario state.&lt;/p&gt; (optional)
   * @param application &lt;p&gt;Application name.&lt;/p&gt; (optional)
   * @param database &lt;p&gt;Database name.&lt;/p&gt; (optional)
   * @param approvalPending &lt;p&gt;Scenario is in submitted state, and approval is pending from logged in user.&lt;/p&gt; (optional, default to false)
   * @param offset &lt;p&gt;Number of scenarios to omit from the start of the result set. Default is 0.&lt;/p&gt; (optional, default to 0)
   * @param limit &lt;p&gt;Maximum number of scenarios to return. Default is 50.&lt;/p&gt; (optional, default to 50)
   * @param orderBy &lt;p&gt;Order-by field and order for the result set. The value of this parameter must follow the format of &lt;code&gt;&lt;i&gt;fieldName&lt;/i&gt;:asc|desc&lt;/code&gt;. For example: &lt;code&gt;name:asc&lt;/code&gt;. Default value is &lt;code&gt;createdTime:desc&lt;/code&gt;, meaning that scenarios are listed with the most recently created scenarios first.&lt;/p&gt; (optional, default to createdTime:desc)
   * @param count &lt;p&gt;If &lt;code&gt;true&lt;/code&gt;, response contains only the count of scenarios, and not actual scenarios.&lt;/p&gt; (optional, default to false)
   * @return ScenarioCollectionResponse
   * @throws ApiException if fails to make API call
   */
  public ScenarioCollectionResponse scenariosGetScenarios(String filter, String role, Boolean overdue, String state, String application, String database, Boolean approvalPending, Long offset, Long limit, String orderBy, Boolean count) throws ApiException {
    ApiResponse<ScenarioCollectionResponse> localVarResponse = scenariosGetScenariosWithHttpInfo(filter, role, overdue, state, application, database, approvalPending, offset, limit, orderBy, count);
    return localVarResponse.getData();
  }

  /**
   * Get Scenarios
   * &lt;p&gt;Get scenarios matching search criteria. Response includes links to all basic scenario attributes, excluding approvers, participants, comments, and scripts.&lt;/p&gt;
   * @param filter &lt;p&gt;Scenario name wildcard pattern.&lt;/p&gt; (optional)
   * @param role &lt;p&gt;Optional user role by which to filter the scenario list. Value can be &lt;code&gt;owner&lt;/code&gt;, &lt;code&gt;participant&lt;/code&gt;, or &lt;code&gt;approver&lt;/code&gt;. If role is specified as &lt;code&gt;approver&lt;/code&gt;, this API returns all scenarios for which the logged in user is the approver. By default, all scenarios are returned for which the logged in user is either an owner, a participant, or an approver.&lt;/p&gt; (optional)
   * @param overdue &lt;p&gt;If true, returns all scenarios past the due date. Default is false, meaning all scenarios are returned.&lt;/p&gt; (optional)
   * @param state &lt;p&gt;Scenario state.&lt;/p&gt; (optional)
   * @param application &lt;p&gt;Application name.&lt;/p&gt; (optional)
   * @param database &lt;p&gt;Database name.&lt;/p&gt; (optional)
   * @param approvalPending &lt;p&gt;Scenario is in submitted state, and approval is pending from logged in user.&lt;/p&gt; (optional, default to false)
   * @param offset &lt;p&gt;Number of scenarios to omit from the start of the result set. Default is 0.&lt;/p&gt; (optional, default to 0)
   * @param limit &lt;p&gt;Maximum number of scenarios to return. Default is 50.&lt;/p&gt; (optional, default to 50)
   * @param orderBy &lt;p&gt;Order-by field and order for the result set. The value of this parameter must follow the format of &lt;code&gt;&lt;i&gt;fieldName&lt;/i&gt;:asc|desc&lt;/code&gt;. For example: &lt;code&gt;name:asc&lt;/code&gt;. Default value is &lt;code&gt;createdTime:desc&lt;/code&gt;, meaning that scenarios are listed with the most recently created scenarios first.&lt;/p&gt; (optional, default to createdTime:desc)
   * @param count &lt;p&gt;If &lt;code&gt;true&lt;/code&gt;, response contains only the count of scenarios, and not actual scenarios.&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;ScenarioCollectionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioCollectionResponse> scenariosGetScenariosWithHttpInfo(String filter, String role, Boolean overdue, String state, String application, String database, Boolean approvalPending, Long offset, Long limit, String orderBy, Boolean count) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosGetScenariosRequestBuilder(filter, role, overdue, state, application, database, approvalPending, offset, limit, orderBy, count);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosGetScenarios", localVarResponse);
        }
        return new ApiResponse<ScenarioCollectionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ScenarioCollectionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosGetScenariosRequestBuilder(String filter, String role, Boolean overdue, String state, String application, String database, Boolean approvalPending, Long offset, Long limit, String orderBy, Boolean count) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "role";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("role", role));
    localVarQueryParameterBaseName = "overdue";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("overdue", overdue));
    localVarQueryParameterBaseName = "state";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("state", state));
    localVarQueryParameterBaseName = "application";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("application", application));
    localVarQueryParameterBaseName = "database";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("database", database));
    localVarQueryParameterBaseName = "approvalPending";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("approvalPending", approvalPending));
    localVarQueryParameterBaseName = "offset";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("offset", offset));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "orderBy";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("orderBy", orderBy));
    localVarQueryParameterBaseName = "count";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("count", count));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Scripts
   * Get Scripts
   * @param scenarioId Scenario ID. (required)
   * @return ScriptListResponse
   * @throws ApiException if fails to make API call
   */
  public ScriptListResponse scenariosGetScripts(Long scenarioId) throws ApiException {
    ApiResponse<ScriptListResponse> localVarResponse = scenariosGetScriptsWithHttpInfo(scenarioId);
    return localVarResponse.getData();
  }

  /**
   * Get Scripts
   * Get Scripts
   * @param scenarioId Scenario ID. (required)
   * @return ApiResponse&lt;ScriptListResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScriptListResponse> scenariosGetScriptsWithHttpInfo(Long scenarioId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosGetScriptsRequestBuilder(scenarioId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosGetScripts", localVarResponse);
        }
        return new ApiResponse<ScriptListResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ScriptListResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosGetScriptsRequestBuilder(Long scenarioId) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosGetScripts");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/scripts"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update Scenario Partially
   * &lt;p&gt;Update basic information about a scenario, including description, due date, priority, and owner.&lt;/p&gt;
   * @param id Scenario ID. (required)
   * @param body &lt;p&gt;Scenario details. Set only those fields which need to be updated.&lt;/p&gt; (optional)
   * @return ScenarioBean
   * @throws ApiException if fails to make API call
   */
  public ScenarioBean scenariosPatch(Long id, ScenarioEditBean body) throws ApiException {
    ApiResponse<ScenarioBean> localVarResponse = scenariosPatchWithHttpInfo(id, body);
    return localVarResponse.getData();
  }

  /**
   * Update Scenario Partially
   * &lt;p&gt;Update basic information about a scenario, including description, due date, priority, and owner.&lt;/p&gt;
   * @param id Scenario ID. (required)
   * @param body &lt;p&gt;Scenario details. Set only those fields which need to be updated.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;ScenarioBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioBean> scenariosPatchWithHttpInfo(Long id, ScenarioEditBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosPatchRequestBuilder(id, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosPatch", localVarResponse);
        }
        return new ApiResponse<ScenarioBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ScenarioBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosPatchRequestBuilder(Long id, ScenarioEditBean body) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling scenariosPatch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("PATCH", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Perform Scenario Action
   * &lt;p&gt;Performs the specified scenario workflow action. Common actions are &lt;code&gt;submit&lt;/code&gt; to submit a scenario for approval, &lt;code&gt;approve&lt;/code&gt; to approve a scenario, &lt;code&gt;reject&lt;/code&gt; to reject it, and &lt;code&gt;apply&lt;/code&gt; to overwrite the base data with the scenario data. Additional actions include &lt;code&gt;copy&lt;/code&gt;, &lt;code&gt;refresh&lt;/code&gt;, and &lt;code&gt;clear&lt;/code&gt;.&lt;/p&gt;
   * @param id &lt;p&gt;Scenario ID.&lt;/p&gt; (required)
   * @param action &lt;p&gt;Valid values are &lt;code&gt;submit&lt;/code&gt;, &lt;code&gt;approve&lt;/code&gt;, &lt;code&gt;reject&lt;/code&gt;, &lt;code&gt;apply&lt;/code&gt;, &lt;code&gt;copy&lt;/code&gt;, &lt;code&gt;refresh&lt;/code&gt;, and &lt;code&gt;clear&lt;/code&gt;.&lt;/p&gt; (optional)
   * @param overwrite &lt;p&gt;Optional overwrite parameter, applicable only when &lt;i&gt;action&lt;/i&gt; is &lt;code&gt;refresh&lt;/code&gt;. If &lt;code&gt;true&lt;/code&gt;, when the base and scenario data have different values, the base value overwrites the scenario changes. Default is &lt;code&gt;false&lt;/code&gt;.&lt;/p&gt; (optional, default to false)
   * @param body &lt;p&gt;Action parameters. Copy options are applicable only in case of copy. Comment is applicable only for workflow actions.&lt;/p&gt; (optional)
   * @return ScenarioBean
   * @throws ApiException if fails to make API call
   */
  public ScenarioBean scenariosPerformAction(Long id, String action, Boolean overwrite, ScenarioActionPayload body) throws ApiException {
    ApiResponse<ScenarioBean> localVarResponse = scenariosPerformActionWithHttpInfo(id, action, overwrite, body);
    return localVarResponse.getData();
  }

  /**
   * Perform Scenario Action
   * &lt;p&gt;Performs the specified scenario workflow action. Common actions are &lt;code&gt;submit&lt;/code&gt; to submit a scenario for approval, &lt;code&gt;approve&lt;/code&gt; to approve a scenario, &lt;code&gt;reject&lt;/code&gt; to reject it, and &lt;code&gt;apply&lt;/code&gt; to overwrite the base data with the scenario data. Additional actions include &lt;code&gt;copy&lt;/code&gt;, &lt;code&gt;refresh&lt;/code&gt;, and &lt;code&gt;clear&lt;/code&gt;.&lt;/p&gt;
   * @param id &lt;p&gt;Scenario ID.&lt;/p&gt; (required)
   * @param action &lt;p&gt;Valid values are &lt;code&gt;submit&lt;/code&gt;, &lt;code&gt;approve&lt;/code&gt;, &lt;code&gt;reject&lt;/code&gt;, &lt;code&gt;apply&lt;/code&gt;, &lt;code&gt;copy&lt;/code&gt;, &lt;code&gt;refresh&lt;/code&gt;, and &lt;code&gt;clear&lt;/code&gt;.&lt;/p&gt; (optional)
   * @param overwrite &lt;p&gt;Optional overwrite parameter, applicable only when &lt;i&gt;action&lt;/i&gt; is &lt;code&gt;refresh&lt;/code&gt;. If &lt;code&gt;true&lt;/code&gt;, when the base and scenario data have different values, the base value overwrites the scenario changes. Default is &lt;code&gt;false&lt;/code&gt;.&lt;/p&gt; (optional, default to false)
   * @param body &lt;p&gt;Action parameters. Copy options are applicable only in case of copy. Comment is applicable only for workflow actions.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;ScenarioBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioBean> scenariosPerformActionWithHttpInfo(Long id, String action, Boolean overwrite, ScenarioActionPayload body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosPerformActionRequestBuilder(id, action, overwrite, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosPerformAction", localVarResponse);
        }
        return new ApiResponse<ScenarioBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ScenarioBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosPerformActionRequestBuilder(Long id, String action, Boolean overwrite, ScenarioActionPayload body) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling scenariosPerformAction");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "action";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("action", action));
    localVarQueryParameterBaseName = "overwrite";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("overwrite", overwrite));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update Scenario Fully
   * &lt;p&gt;Update in-depth details about a scenario.&lt;/p&gt;
   * @param id &lt;p&gt;Scenario ID.&lt;/p&gt; (required)
   * @param body &lt;p&gt;Scenario details.&lt;/p&gt; (optional)
   * @return ScenarioBean
   * @throws ApiException if fails to make API call
   */
  public ScenarioBean scenariosUpdate(Long id, ScenarioBean body) throws ApiException {
    ApiResponse<ScenarioBean> localVarResponse = scenariosUpdateWithHttpInfo(id, body);
    return localVarResponse.getData();
  }

  /**
   * Update Scenario Fully
   * &lt;p&gt;Update in-depth details about a scenario.&lt;/p&gt;
   * @param id &lt;p&gt;Scenario ID.&lt;/p&gt; (required)
   * @param body &lt;p&gt;Scenario details.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;ScenarioBean&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ScenarioBean> scenariosUpdateWithHttpInfo(Long id, ScenarioBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosUpdateRequestBuilder(id, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosUpdate", localVarResponse);
        }
        return new ApiResponse<ScenarioBean>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ScenarioBean>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosUpdateRequestBuilder(Long id, ScenarioBean body) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling scenariosUpdate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update Comment
   * &lt;p&gt;Update a scenario comment by ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param commentId Comment ID. (required)
   * @param body Comment details. (optional)
   * @throws ApiException if fails to make API call
   */
  public void scenariosUpdateComment(Long scenarioId, Long commentId, CommentBean body) throws ApiException {
    scenariosUpdateCommentWithHttpInfo(scenarioId, commentId, body);
  }

  /**
   * Update Comment
   * &lt;p&gt;Update a scenario comment by ID.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param commentId Comment ID. (required)
   * @param body Comment details. (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> scenariosUpdateCommentWithHttpInfo(Long scenarioId, Long commentId, CommentBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosUpdateCommentRequestBuilder(scenarioId, commentId, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosUpdateComment", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosUpdateCommentRequestBuilder(Long scenarioId, Long commentId, CommentBean body) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosUpdateComment");
    }
    // verify the required parameter 'commentId' is set
    if (commentId == null) {
      throw new ApiException(400, "Missing the required parameter 'commentId' when calling scenariosUpdateComment");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/comments/{commentId}"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()))
        .replace("{commentId}", ApiClient.urlEncode(commentId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update With Script
   * &lt;p&gt;Updates scenario using script of specified type.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param scriptType &lt;p&gt;Script type. Valid values are: &lt;code&gt;refresh&lt;/code&gt; to revert to base, &lt;code&gt;apply&lt;/code&gt; to commit to base, and &lt;code&gt;clear&lt;/code&gt; to set to #Missing.&lt;/p&gt; (required)
   * @param body &lt;p&gt;Script details.&lt;/p&gt; (optional)
   * @throws ApiException if fails to make API call
   */
  public void scenariosUpdateScript(Long scenarioId, String scriptType, ScriptBean body) throws ApiException {
    scenariosUpdateScriptWithHttpInfo(scenarioId, scriptType, body);
  }

  /**
   * Update With Script
   * &lt;p&gt;Updates scenario using script of specified type.&lt;/p&gt;
   * @param scenarioId Scenario ID. (required)
   * @param scriptType &lt;p&gt;Script type. Valid values are: &lt;code&gt;refresh&lt;/code&gt; to revert to base, &lt;code&gt;apply&lt;/code&gt; to commit to base, and &lt;code&gt;clear&lt;/code&gt; to set to #Missing.&lt;/p&gt; (required)
   * @param body &lt;p&gt;Script details.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> scenariosUpdateScriptWithHttpInfo(Long scenarioId, String scriptType, ScriptBean body) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = scenariosUpdateScriptRequestBuilder(scenarioId, scriptType, body);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("scenariosUpdateScript", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder scenariosUpdateScriptRequestBuilder(Long scenarioId, String scriptType, ScriptBean body) throws ApiException {
    // verify the required parameter 'scenarioId' is set
    if (scenarioId == null) {
      throw new ApiException(400, "Missing the required parameter 'scenarioId' when calling scenariosUpdateScript");
    }
    // verify the required parameter 'scriptType' is set
    if (scriptType == null) {
      throw new ApiException(400, "Missing the required parameter 'scriptType' when calling scenariosUpdateScript");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/scenarios/{scenarioId}/scripts/{scriptType}"
        .replace("{scenarioId}", ApiClient.urlEncode(scenarioId.toString()))
        .replace("{scriptType}", ApiClient.urlEncode(scriptType.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(body);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
