/*
 * Essbase REST API
 * The REST API for Oracle Essbase enables you to automate management of Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: V1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.Link;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class ServerLogsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ServerLogsApi() {
    this(new ApiClient());
  }

  public ServerLogsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Download All Logs
   * &lt;p&gt;Returns stream or downloadable zip file containing all log files for the specified server type.&lt;/p&gt;
   * @param serverType Server type (required)
   * @throws ApiException if fails to make API call
   */
  public void serverLogsDownloadAllLogFiles(String serverType) throws ApiException {
    serverLogsDownloadAllLogFilesWithHttpInfo(serverType);
  }

  /**
   * Download All Logs
   * &lt;p&gt;Returns stream or downloadable zip file containing all log files for the specified server type.&lt;/p&gt;
   * @param serverType Server type (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> serverLogsDownloadAllLogFilesWithHttpInfo(String serverType) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serverLogsDownloadAllLogFilesRequestBuilder(serverType);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serverLogsDownloadAllLogFiles", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serverLogsDownloadAllLogFilesRequestBuilder(String serverType) throws ApiException {
    // verify the required parameter 'serverType' is set
    if (serverType == null) {
      throw new ApiException(400, "Missing the required parameter 'serverType' when calling serverLogsDownloadAllLogFiles");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/logs/{serverType}/all"
        .replace("{serverType}", ApiClient.urlEncode(serverType.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Download Latest Log
   * &lt;p&gt;Download the latest generated application log file as text file.&lt;/p&gt;
   * @param serverType Server type (required)
   * @throws ApiException if fails to make API call
   */
  public void serverLogsDownloadLatestLogFile(String serverType) throws ApiException {
    serverLogsDownloadLatestLogFileWithHttpInfo(serverType);
  }

  /**
   * Download Latest Log
   * &lt;p&gt;Download the latest generated application log file as text file.&lt;/p&gt;
   * @param serverType Server type (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> serverLogsDownloadLatestLogFileWithHttpInfo(String serverType) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serverLogsDownloadLatestLogFileRequestBuilder(serverType);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serverLogsDownloadLatestLogFile", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serverLogsDownloadLatestLogFileRequestBuilder(String serverType) throws ApiException {
    // verify the required parameter 'serverType' is set
    if (serverType == null) {
      throw new ApiException(400, "Missing the required parameter 'serverType' when calling serverLogsDownloadLatestLogFile");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/logs/{serverType}/latest"
        .replace("{serverType}", ApiClient.urlEncode(serverType.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Download Logs for Server Type
   * &lt;p&gt;Returns links to download all log files as zip file, and to download the latest log file for specific server type.&lt;/p&gt;
   * @param serverType &lt;p&gt;Server type.&lt;/p&gt; (required)
   * @return Link
   * @throws ApiException if fails to make API call
   */
  public Link serverLogsDownloadServerLogFiles(String serverType) throws ApiException {
    ApiResponse<Link> localVarResponse = serverLogsDownloadServerLogFilesWithHttpInfo(serverType);
    return localVarResponse.getData();
  }

  /**
   * Download Logs for Server Type
   * &lt;p&gt;Returns links to download all log files as zip file, and to download the latest log file for specific server type.&lt;/p&gt;
   * @param serverType &lt;p&gt;Server type.&lt;/p&gt; (required)
   * @return ApiResponse&lt;Link&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Link> serverLogsDownloadServerLogFilesWithHttpInfo(String serverType) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serverLogsDownloadServerLogFilesRequestBuilder(serverType);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serverLogsDownloadServerLogFiles", localVarResponse);
        }
        return new ApiResponse<Link>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Link>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serverLogsDownloadServerLogFilesRequestBuilder(String serverType) throws ApiException {
    // verify the required parameter 'serverType' is set
    if (serverType == null) {
      throw new ApiException(400, "Missing the required parameter 'serverType' when calling serverLogsDownloadServerLogFiles");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/logs/{serverType}"
        .replace("{serverType}", ApiClient.urlEncode(serverType.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get All Server Types
   * &lt;p&gt;Returns links listing all server types.&lt;/p&gt;
   * @return Link
   * @throws ApiException if fails to make API call
   */
  public Link serverLogsGetServerLogLinks() throws ApiException {
    ApiResponse<Link> localVarResponse = serverLogsGetServerLogLinksWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Get All Server Types
   * &lt;p&gt;Returns links listing all server types.&lt;/p&gt;
   * @return ApiResponse&lt;Link&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Link> serverLogsGetServerLogLinksWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serverLogsGetServerLogLinksRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serverLogsGetServerLogLinks", localVarResponse);
        }
        return new ApiResponse<Link>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Link>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serverLogsGetServerLogLinksRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/logs";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Return Filtered Logs
   * &lt;p&gt;Returns the logs based on specified filters. Filters can be applied for user, message text, time, and other criteria.&lt;/p&gt;
   * @param msgtype One or more Log message types e.g. ERROR (optional)
   * @param user &lt;p&gt;User Id.&lt;/p&gt; (optional)
   * @param after &lt;p&gt;After time (in milliseconds).&lt;/p&gt; (optional)
   * @param before &lt;p&gt;Before time (in milliseconds).&lt;/p&gt; (optional)
   * @param tail &lt;p&gt;Last &lt;i&gt;n&lt;/i&gt; records - maximum of 1000.&lt;/p&gt; (optional)
   * @param filetype &lt;p&gt;One or more file types.&lt;/p&gt; (optional)
   * @param application &lt;p&gt;Application name.&lt;/p&gt; (optional)
   * @param contains &lt;p&gt;Check if message contains this value.&lt;/p&gt; (optional)
   * @param details &lt;p&gt;Include supporting details in the response.&lt;/p&gt; (optional)
   * @throws ApiException if fails to make API call
   */
  public void serverLogsStream(List<String> msgtype, String user, Long after, Long before, Integer tail, List<String> filetype, List<String> application, String contains, Boolean details) throws ApiException {
    serverLogsStreamWithHttpInfo(msgtype, user, after, before, tail, filetype, application, contains, details);
  }

  /**
   * Return Filtered Logs
   * &lt;p&gt;Returns the logs based on specified filters. Filters can be applied for user, message text, time, and other criteria.&lt;/p&gt;
   * @param msgtype One or more Log message types e.g. ERROR (optional)
   * @param user &lt;p&gt;User Id.&lt;/p&gt; (optional)
   * @param after &lt;p&gt;After time (in milliseconds).&lt;/p&gt; (optional)
   * @param before &lt;p&gt;Before time (in milliseconds).&lt;/p&gt; (optional)
   * @param tail &lt;p&gt;Last &lt;i&gt;n&lt;/i&gt; records - maximum of 1000.&lt;/p&gt; (optional)
   * @param filetype &lt;p&gt;One or more file types.&lt;/p&gt; (optional)
   * @param application &lt;p&gt;Application name.&lt;/p&gt; (optional)
   * @param contains &lt;p&gt;Check if message contains this value.&lt;/p&gt; (optional)
   * @param details &lt;p&gt;Include supporting details in the response.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> serverLogsStreamWithHttpInfo(List<String> msgtype, String user, Long after, Long before, Integer tail, List<String> filetype, List<String> application, String contains, Boolean details) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serverLogsStreamRequestBuilder(msgtype, user, after, before, tail, filetype, application, contains, details);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serverLogsStream", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serverLogsStreamRequestBuilder(List<String> msgtype, String user, Long after, Long before, Integer tail, List<String> filetype, List<String> application, String contains, Boolean details) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/logs/stream";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "msgtype";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "msgtype", msgtype));
    localVarQueryParameterBaseName = "user";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("user", user));
    localVarQueryParameterBaseName = "after";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("after", after));
    localVarQueryParameterBaseName = "before";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("before", before));
    localVarQueryParameterBaseName = "tail";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tail", tail));
    localVarQueryParameterBaseName = "filetype";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "filetype", filetype));
    localVarQueryParameterBaseName = "application";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "application", application));
    localVarQueryParameterBaseName = "contains";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("contains", contains));
    localVarQueryParameterBaseName = "details";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("details", details));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
