/*
 * Essbase REST API
 * The REST API for Oracle Essbase enables you to automate management of Essbase resources and operations. All requests and responses are communicated over secured HTTP.
 *
 * The version of the OpenAPI document: V1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.appliedolap.essbase.client.api;

import com.appliedolap.essbase.client.ApiClient;
import com.appliedolap.essbase.client.ApiException;
import com.appliedolap.essbase.client.ApiResponse;
import com.appliedolap.essbase.client.Pair;

import com.appliedolap.essbase.client.model.UserGroupProvisionInfo;
import com.appliedolap.essbase.client.model.UserGroupProvisionInfoList;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class ServiceRoleProvisioningApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ServiceRoleProvisioningApi() {
    this(new ApiClient());
  }

  public ServiceRoleProvisioningApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Deprovision Service Role
   * &lt;p&gt;Deprovisions a single user from an Essbase service role. Service roles include Service Administrator, Power User, and User.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;&lt;p&gt;To deprovision a group, you can use &lt;a href&#x3D;\&quot;./op-groups-id-delete.html\&quot;&gt;Delete Group&lt;/a&gt;&lt;/p&gt;&lt;p&gt;See Also: &lt;a href&#x3D;\&quot;./op-applications-app-permissions-id-delete.html\&quot;&gt;Deprovision User or Group from Application&lt;/a&gt;.&lt;/p&gt;
   * @param id &lt;p&gt;User ID.&lt;/p&gt; (required)
   * @param group &lt;p&gt;If true, ID is for a group. If false, ID is for a user. Default is false (ID is considered to be for a user.)&lt;/p&gt; (optional, default to false)
   * @throws ApiException if fails to make API call
   */
  public void serviceRoleProvisioningDeprovision(String id, Boolean group) throws ApiException {
    serviceRoleProvisioningDeprovisionWithHttpInfo(id, group);
  }

  /**
   * Deprovision Service Role
   * &lt;p&gt;Deprovisions a single user from an Essbase service role. Service roles include Service Administrator, Power User, and User.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;&lt;p&gt;To deprovision a group, you can use &lt;a href&#x3D;\&quot;./op-groups-id-delete.html\&quot;&gt;Delete Group&lt;/a&gt;&lt;/p&gt;&lt;p&gt;See Also: &lt;a href&#x3D;\&quot;./op-applications-app-permissions-id-delete.html\&quot;&gt;Deprovision User or Group from Application&lt;/a&gt;.&lt;/p&gt;
   * @param id &lt;p&gt;User ID.&lt;/p&gt; (required)
   * @param group &lt;p&gt;If true, ID is for a group. If false, ID is for a user. Default is false (ID is considered to be for a user.)&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> serviceRoleProvisioningDeprovisionWithHttpInfo(String id, Boolean group) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceRoleProvisioningDeprovisionRequestBuilder(id, group);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceRoleProvisioningDeprovision", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceRoleProvisioningDeprovisionRequestBuilder(String id, Boolean group) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceRoleProvisioningDeprovision");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/permissions/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "group";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("group", group));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Service Role Provision
   * &lt;p&gt;Gets Essbase service role provisioning information. Service roles include Service Administrator, Power User, and User.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt; &lt;p&gt;See Also: &lt;a href&#x3D;\&quot;./op-applications-app-permissions-id-get.html\&quot;&gt;Get Application Role Provision&lt;/a&gt;.&lt;/p&gt;
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param group &lt;p&gt;If true, ID is for a group. If false, ID is for a user. Default is false (ID is considered to be for a user.)&lt;/p&gt; (optional, default to false)
   * @return UserGroupProvisionInfo
   * @throws ApiException if fails to make API call
   */
  public UserGroupProvisionInfo serviceRoleProvisioningGetProvision(String id, Boolean group) throws ApiException {
    ApiResponse<UserGroupProvisionInfo> localVarResponse = serviceRoleProvisioningGetProvisionWithHttpInfo(id, group);
    return localVarResponse.getData();
  }

  /**
   * Get Service Role Provision
   * &lt;p&gt;Gets Essbase service role provisioning information. Service roles include Service Administrator, Power User, and User.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt; &lt;p&gt;See Also: &lt;a href&#x3D;\&quot;./op-applications-app-permissions-id-get.html\&quot;&gt;Get Application Role Provision&lt;/a&gt;.&lt;/p&gt;
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param group &lt;p&gt;If true, ID is for a group. If false, ID is for a user. Default is false (ID is considered to be for a user.)&lt;/p&gt; (optional, default to false)
   * @return ApiResponse&lt;UserGroupProvisionInfo&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<UserGroupProvisionInfo> serviceRoleProvisioningGetProvisionWithHttpInfo(String id, Boolean group) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceRoleProvisioningGetProvisionRequestBuilder(id, group);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceRoleProvisioningGetProvision", localVarResponse);
        }
        return new ApiResponse<UserGroupProvisionInfo>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<UserGroupProvisionInfo>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceRoleProvisioningGetProvisionRequestBuilder(String id, Boolean group) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceRoleProvisioningGetProvision");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/permissions/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "group";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("group", group));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Provision Service Role
   * &lt;p&gt;Provisions a single user or group for an Essbase service role. Service roles include Service Administrator, Power User, and User.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param userGroupProvisionInfo &lt;p&gt;User or group provisioning information.&lt;/p&gt; (optional)
   * @throws ApiException if fails to make API call
   */
  public void serviceRoleProvisioningProvision(String id, UserGroupProvisionInfo userGroupProvisionInfo) throws ApiException {
    serviceRoleProvisioningProvisionWithHttpInfo(id, userGroupProvisionInfo);
  }

  /**
   * Provision Service Role
   * &lt;p&gt;Provisions a single user or group for an Essbase service role. Service roles include Service Administrator, Power User, and User.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt;
   * @param id &lt;p&gt;User or group ID.&lt;/p&gt; (required)
   * @param userGroupProvisionInfo &lt;p&gt;User or group provisioning information.&lt;/p&gt; (optional)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> serviceRoleProvisioningProvisionWithHttpInfo(String id, UserGroupProvisionInfo userGroupProvisionInfo) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceRoleProvisioningProvisionRequestBuilder(id, userGroupProvisionInfo);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceRoleProvisioningProvision", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceRoleProvisioningProvisionRequestBuilder(String id, UserGroupProvisionInfo userGroupProvisionInfo) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling serviceRoleProvisioningProvision");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/permissions/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(userGroupProvisionInfo);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Search Service Role Provisioning
   * &lt;p&gt;Search for Essbase service role provisioning information. Service roles include Service Administrator, Power User, and User.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt; &lt;p&gt;See Also: &lt;a href&#x3D;\&quot;./op-applications-app-permissions-get.html\&quot;&gt;Search Application Role Provisioning&lt;/a&gt;.&lt;/p&gt;
   * @param id &lt;p&gt;User or group ID wildcard pattern. if specified, returns users and groups matching the pattern, if not specified, returns all the users and groups having some role. Users or groups having no role are not returned.&lt;/p&gt; (optional, default to *)
   * @param role &lt;p&gt;Input may include &lt;code&gt;all&lt;/code&gt;, &lt;code&gt;none&lt;/code&gt;, or a comma-separated list of roles (for example, &lt;code&gt;service_administrator&lt;/code&gt;, &lt;code&gt;power_user&lt;/code&gt;, or &lt;code&gt;user&lt;/code&gt;). Default value is &lt;code&gt;all&lt;/code&gt;, so if this query parameter is not specified, all users and groups having some role are returned. If &lt;code&gt;none&lt;/code&gt; is specified, only users and groups having no role will be returned. If named roles are specified, then only users and groups having any of the named roles are returned.&lt;/p&gt; (optional, default to all)
   * @param filter &lt;p&gt;Search filter. Values available: &lt;code&gt;all/group/user&lt;/code&gt;. Default value is &lt;code&gt;all&lt;/code&gt;, so if this query parameter is not specified, then all users and groups having some role will be returned.&lt;/p&gt; (optional, default to all)
   * @param page &lt;p&gt;This is used to get the list of users/groups having no service roles in paginated manner. Page number starts with 0&lt;/p&gt; (optional, default to -1)
   * @return UserGroupProvisionInfoList
   * @throws ApiException if fails to make API call
   */
  public UserGroupProvisionInfoList serviceRoleProvisioningSearchProvision(String id, String role, String filter, Integer page) throws ApiException {
    ApiResponse<UserGroupProvisionInfoList> localVarResponse = serviceRoleProvisioningSearchProvisionWithHttpInfo(id, role, filter, page);
    return localVarResponse.getData();
  }

  /**
   * Search Service Role Provisioning
   * &lt;p&gt;Search for Essbase service role provisioning information. Service roles include Service Administrator, Power User, and User.&lt;/p&gt; &lt;p&gt;If you are using EPM Shared Services security mode, this operation is not available. Instead, manage users, groups, and permissions in the Shared Services Console.&lt;/p&gt; &lt;p&gt;See Also: &lt;a href&#x3D;\&quot;./op-applications-app-permissions-get.html\&quot;&gt;Search Application Role Provisioning&lt;/a&gt;.&lt;/p&gt;
   * @param id &lt;p&gt;User or group ID wildcard pattern. if specified, returns users and groups matching the pattern, if not specified, returns all the users and groups having some role. Users or groups having no role are not returned.&lt;/p&gt; (optional, default to *)
   * @param role &lt;p&gt;Input may include &lt;code&gt;all&lt;/code&gt;, &lt;code&gt;none&lt;/code&gt;, or a comma-separated list of roles (for example, &lt;code&gt;service_administrator&lt;/code&gt;, &lt;code&gt;power_user&lt;/code&gt;, or &lt;code&gt;user&lt;/code&gt;). Default value is &lt;code&gt;all&lt;/code&gt;, so if this query parameter is not specified, all users and groups having some role are returned. If &lt;code&gt;none&lt;/code&gt; is specified, only users and groups having no role will be returned. If named roles are specified, then only users and groups having any of the named roles are returned.&lt;/p&gt; (optional, default to all)
   * @param filter &lt;p&gt;Search filter. Values available: &lt;code&gt;all/group/user&lt;/code&gt;. Default value is &lt;code&gt;all&lt;/code&gt;, so if this query parameter is not specified, then all users and groups having some role will be returned.&lt;/p&gt; (optional, default to all)
   * @param page &lt;p&gt;This is used to get the list of users/groups having no service roles in paginated manner. Page number starts with 0&lt;/p&gt; (optional, default to -1)
   * @return ApiResponse&lt;UserGroupProvisionInfoList&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<UserGroupProvisionInfoList> serviceRoleProvisioningSearchProvisionWithHttpInfo(String id, String role, String filter, Integer page) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = serviceRoleProvisioningSearchProvisionRequestBuilder(id, role, filter, page);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("serviceRoleProvisioningSearchProvision", localVarResponse);
        }
        return new ApiResponse<UserGroupProvisionInfoList>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<UserGroupProvisionInfoList>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder serviceRoleProvisioningSearchProvisionRequestBuilder(String id, String role, String filter, Integer page) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/permissions";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParameterBaseName = "role";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("role", role));
    localVarQueryParameterBaseName = "filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("filter", filter));
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json, application/xml");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
