<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{session}] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="com.appliedolap" level="${DODECA_LOG_LEVEL:-TRACE}"/>-->
    <root level="DEBUG">
        <appender-ref ref="A1"/>
    </root>
</configuration>